/* deprecated
	div.editable {
    background-size: auto 36px !important;
	height: 36px !important;
	width: 36px !important;
}
*/

div.tileDialog {
  overflow: hidden;
}
dialog#edit_Tile {
    background:#cccccc;
    border: 1px solid #666;
    font-family:sans-serif;
    padding: 0px 0px 0px 1px;
    position: absolute;
    width: 400px; 
    height: 267px;
    top: 30%;
    left: 35%;
} 
div.tile_buttons {
	margin-left:2px;
	width: auto;
	height: auto;
        margin-bottom: 10px;
	font-size: 10pt;
}
#wysISwyg {
	margin-left:5px
}
#tileDisplay {
    display: inline-block;
    height: auto;
    position: relative;
    left: 230px;
}
#iconChoices {
	margin: 3px;
	position:absolute;
	display: inline-block;
	float: left;
    width: 210px; 
    height: 15px;
}
#editicon {
	margin: 3px;
	position:absolute;
	top: 22px;
	display: inline-block;
	float: left;
    width: 210px;
    height: 177px;
	overflow-x: hidden;
}
#editcolor {
	margin: 3px;
	position:absolute;
	display: inline-block;
	float: left;
	width: 200px; 
	height: 217px;
	overflow-x: hidden;
	text-align:center;
}
#editSection {
	text-align: left;
        margin-left: 6px;
}
.editSection_child {
	margin-top: 2px;
}
#iconSrc {
	margin-right: 4px;
	width: 118px;
	font-size: 10pt;
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	margin-right: 9px;
	/*font-size: 9pt;*/
}
#iconSrc option {
	font-size: 10pt;
}
input.editSection_txt {
	font-size: 10pt;
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	margin-right: 9px;
	margin-left: 3px;
}
input.editSection_txt.name {
	width: 152px;

}
input.editSection_txt.height, input.editSection_txt.width {
	width: 53px;
}
#color {
	margin-top: 3px;
	font-size: 10pt;
	width: 68px;
	height: 18px;	
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
#div_color {
	display: block;
	margin: auto;	
}

.iconlist {
	position: relative;
	display: inline-block;
}

.icon {
	float: left;
	margin: 2px;
	max-height: 40px;
	max-width: auto;
	-o-object-fit: contain;
	object-fit: contain;
}

.icon:hover {
	position: relative;
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

.wrapToggles{
	position:absolute;
	margin-left: 1px;
    width: 100%;
	display: inline-block;
	justify-content: center;
	align-items: center;  
	top: 225px;
	height: 40px; 
}
.toggleSections {
	width: 200px;
	margin-left: 9px;
}
.toggleSections label{
  border: 1px solid #fff;
  font-size: 12px;
  padding: 1px 20px;  
  cursor: pointer;
  color: #fff;
  background-color: #777;
  transition: all 0.2s;
}

.toggleSections label:not(:first-of-type){
  border-left: 0;
}

.toggleSections label:hover{
  background-color: #333;
}

/* Hide the radio button */
input[name='sectionToggle']{ 
  display:none;
}

/* The checked buttons label style */
input[name='sectionToggle']:checked+label{
  background-color: #ed6b06;
} 
#hideme {
	visibility: hidden;
}

.upload-btn-wrapper {
	position:absolute;
	margin-left: 6px;
    width: 100%;
	display: inline-block;
	justify-content: center;
	align-items: center;  
	top: 202px;
	height: 20px; 
	overflow: hidden; 
}

.btn_upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 10pt;
  font-weight: bold;
  width: 196px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 10pt;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn_color {
  display: inline-block;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #3498db;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -moz-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -ms-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -o-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}
div.toggle {
    margin-top: 5px;
}
#toggle {
    width: 120px;
    padding: 2px 60px 1px 60px;	
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10pt;
  padding: 2px 7px 1px 7px;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
}
.btn.hidden {
  visibility: hidden;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#dgclose:hover {
  background: #f00000;
  background-image: -webkit-linear-gradient(top, #f00000, #903000);
  background-image: -moz-linear-gradient(top, #f00000, #903000);
  background-image: -ms-linear-gradient(top, #f00000, #903000);
  background-image: -o-linear-gradient(top, #f00000, #903000);
  background-image: linear-gradient(to bottom, #f00000, #903000);
  text-decoration: none;	
}

.selectIcon {
    font-size: 8pt;
	border: 1px solid #ccc;
    width: 121px;
    border-radius: 3px;
    overflow: hidden;
	margin: 3px;
    background: #fafafa;
}

.selectIcon select {
	font-size: 8pt;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectIcon select:focus {
    outline: none;
}
#toggle_status {
	display: inline-block;
}
#tileImage_off {
    display: inline-block;
}
#tileImage_on {
    display: inline-block;
}
.iconChecks {
	font-size: 8pt;
	margin-right: 4px;
}
#invertIcon, #noIcon {
	vertical-align: middle;
}