div.tileDialog {
  overflow: hidden;
}

#tileDialog {
    display: block;
    background-color: rgba(20, 20, 20, 1);
    width: auto;
    height: auto;
}

#editheader {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    background-color: #000066;
    color:#ffffff;
    font-weight: bold;    padding: 2px;    width: 100%;
    text-align: center;    line-height: 2;    height: 30px;
    padding-top: 5px; margin-bottom: 5px;
    cursor: move;
}

#wysiwyg {
    display: inline-block;
    margin-left: 5px;
}

#wysiwyg > div.editlink, #wysiwyg > div.dellink {
    display: none;
}

div.wholetile {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

input[type="button"]#wholetile {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.tileDisplay {
    display: inline-block;
    width: auto;  
    height: auto;
    margin-left: 2px;
    margin-right: 7px;
}

#tileEdit, #pickerWrapper {
    display: inline;
    background-color: rgba(0, 0, 0, 1);
    float: left;
    margin-left: 5px;
}
#iconChoices {
    margin: 3px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
    width: 240px; 
    height: 18px;
}

#editicon {
    display: inline;
    margin: 0px 0px 5px 7px;
    float: left;
    width: 245px;
    max-height: 450px;
    overflow-x: hidden;
    background-color: rgba(170, 170, 170, 1);
}
#colorpicker, #editSection {
    display: inline;
    float: left;
    text-align: left;
    margin: 10px;
    margin-top: 0px;
}
#editSection {
    width: 200px;
}
#colorpicker {
    width: 250px;
}

.editSection_input {
    display: block;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 11pt;
}

.ddlDialog {
    font-size: 11pt;
    margin-top: 2px;
}

#iconSrc option {
    font-size: 13px;
}
#iconSrc {
    width: 118px;
    margin-right: 9px;	
}
#editFont {
    width: 90px;
    margin-left: 0px;
}
div.colorgroup.font {
    display: inline-block;
    margin-right: 10px;
}
#editEffect {
    margin-left: 0px;
}
#iconList img.icon {
    position: relative;
    display: inline-block;
    float: left;
    margin: 2px;
    margin-bottom: 5px;
    max-height: 40px;
    width: auto;
    object-fit: contain;
}
#iconList img.icon:hover {
	position: relative;
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70);
	-moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70);
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70); 
	transition-duration: .1s;
	-webkit-transition-duration: .1s;
}

div.editSection_input label {
    margin-left: 0px;
    margin-right: 5px;
    font-size: 11pt;
    color: white;
}

div.editInfo {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    font-size: 11pt;
    color: white;
}

div.editSection_input input {
    margin-right: 5px;
}

div.editSection_input.autochk {
    display: inline-block;
    margin-right: 5px;
}

#noHead-label {
  display: inline-block;
  text-align: left;
  float: left;
  margin-top: 5px;
}
#toggle {
	width: 120px;
	padding: 2px 68px 1px 51px;	
}

.btn.black {
	  background: #000000;
}
.btn {
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  /*font-size: 10pt;*/
  padding: 2px 7px 1px 7px;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
}
.btn.hidden {
  visibility: hidden;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#dgclose:hover {
  background: #f00000;
  background-image: -webkit-linear-gradient(top, #f00000, #903000);
  background-image: -moz-linear-gradient(top, #f00000, #903000);
  background-image: -ms-linear-gradient(top, #f00000, #903000);
  background-image: -o-linear-gradient(top, #f00000, #903000);
  background-image: linear-gradient(to bottom, #f00000, #903000);
  text-decoration: none;	
}

#saveCss {
	font-size: 14pt;
	-webkit-border-radius: 32;
	-moz-border-radius: 32;
	border-radius: 32px;
}
#showCssSaved {
	margin-left: 6px;
	font-size: 12pt;
	color: #900;
}
#custom_footer {
	position: relative;
	margin: 4px;
	left: 20%;	
}

.selectIcon {
    font-size: 8pt;
	border: 1px solid #ccc;
    width: 121px;
    border-radius: 3px;
    overflow: hidden;
	margin: 3px;
    background: #fafafa;
}

.selectIcon select {
	font-size: 8pt;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectIcon select:focus {
    outline: none;
}
#toggle_status {
	display: inline-block;
}
#tileImage_off {
    display: inline-block;
}
#tileImage_on {
    display: inline-block;
}
.iconChecks, .dlgtext {
    font-size: 11pt;
    margin-right: 4px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
}
.sizeText {
    font-size: 11pt;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    display: block;
    border-top: 1px solid white;
}
#invertIcon, #noIcon {
    vertical-align: middle;
}
#tileEdit .minicolors-inline .minicolors-panel {
    left: auto;
}

div.colorgroup {
    display: block;
    margin-top: 10px;
}

div.colorgroup label {
    color: white;
    width: auto;
    display: block;
}

#colorpicker .minicolors-swatch {
  top: 2px;
  left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 0%;
  cursor: pointer;
}
#colorpicker .minicolors-swatch-color {
  border-radius: 0%;
}
#colorpicker .minicolors-panel {
    left: 0px;
}
#fontWrapper {
    display: block;
}
#fontWrapper input {
    display: block;
}
#tileSizeEffect {
    display: block;
    color: black;
}
#alignEffect {
    display: block;
    color: white;
}
#alignEffect input, #alignEffect label {
    display: inline-block;
    margin-right: 5px;
}
#editReset {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}
.minicolors-theme-default .minicolors-input {
    width: 170px;
}