#edit_Tile {
	position: absolute;
}

div.tileDialog {
  overflow: hidden;
}
dialog {  
    background:#666;
    border: 1px solid #666;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
    font-family:sans-serif;
    padding: 0px 0px 0px 1px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
    width: 450px; 
    height: auto;
  	top: 50%;
  	left: 35%;
} 
div.tile_buttons, .iconwidth {
	width: 210px;
	height: auto;
	font-size: 10pt;
        text-align: center;
        margin-bottom: 5px;
}
.iconwidth {
        text-align: left;
        margin-bottom: 10px;
        margin-left: 10px;
}
.iconwidth label {
    background: #3498db;
    color: #ffffff;
    font-size: 10pt;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 2px 7px 1px 7px;
    margin-left: 10px;
    margin-right: 5px;
}
.iconwidth input {
    display: inline-block;
    width: 80px;
}
#wysiwyg {
        display: inline-block;
        position: absolute;
        left: 5px;
}

#wysiwyg > div.editlink {
    display: none;
}

.tileDisplay {
    display: block;
    position: absolute;
    top: 6px; left: 260px;
    width: auto;  height: auto;
    background-color: rgba(64,64,64,1);
}
#tileDialog {
    display: block;
    background-color: black;
    width: 600px;
    height: 340px;
}
#tileEdit {
    display: block;
    position: absolute;
    top: 6px; left: 6px;
    width: 250px; height: 280px;
    background-color: rgba(64,64,64,1);
    float: left;
}
#iconChoices {
    margin: 3px;
    position:absolute;
    display: inline-block;
    float: left;
    width: 210px; 
    height: 15px;
}
#colorpicker {
	margin-left: 6px;
}
#editicon {
	margin: 1px 1px 1px 2px;
	position:relative;
	top: 24px;
	display: none;
	float: left;
    width: 230px;
    height: 176px;
	overflow-x: hidden;
	background-color: #999;
}
#editcolor {
	margin: 3px;
	position:absolute;
	display: inline-block;
	float: left;
	width: 200px; 
	height: 195px;
	overflow-x: hidden;
	text-align:center;
}
#editSection {
	text-align: center;
	margin-top: 2px;
}
.editSection_input {
	position: absolute;	
	font-size: 9pt;
	color: #faebd7;	
}

.ddlDialog {
	font-size: 13px;
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
#iconSrc option {
	font-size: 13px;
}
#iconSrc {
	width: 118px;
	margin-right: 9px;	
}
#editFont {
	width: 107px;
	margin: 3px;	
}
#editEffect {
	width: 107px;
	margin: 3px;	
}
input.editSection_txt {
	font-size: 10pt;
	border-radius: 2px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	margin: 3px;
}

#heightWrapper {
	left: 60px;	
}

#colorWrapper {
	left: 115px;
}

#fontWrapper, #effectWrapper {
	left: 3px;	
}

#widthwrapper {
	left: 5px;
}
#uploadWrapper {
	left: 115px;
}
input.editSection_txt.height, input.editSection_txt.width {
	width: 40px;
}
input.editSection_txt.color {
	width: 60px;
}

#uploadform {
	height: 0px;
}
.upload-btn-wrapper {
	position: absolute;	
	font-size: 11px;
	margin: 1px;
    width: 64px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.btn_upload {
  border: 3px double #333;
  color:#333;
  background-color: white;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,.3) 100%);
  border-radius: 2px;
  padding: 1px;
  font-size: 11px;
  width: 64px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 11px;
  left: 0;
  top: 0;
  opacity: 0;
  position: relative;
  top: -20px;
  width: 50px;
}

#tileDialog .modalbuttons {
    top: 276px; left: 6px;
    position: absolute;
    z-index: 999;
    background-color: rgba(64, 64, 64, 1);
    width: 250px;
}

.iconlist {
	position: relative;
	display: inline-block;
}
.icon {
	float: left;
	margin: 2px;
    margin-bottom: 5px;
	max-height: 40px;
	max-width: auto;
	-o-object-fit: contain;
	object-fit: contain;
}

.icon:hover {
	position: relative;
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

.wrapToggles.black {
	  background: #000000;	
}
.wrapToggles{
    position:absolute;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;  
    top: 220px;
    left: 0px;
    height: 46px;
    width: 211px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #4a677b);
    background-image: -moz-linear-gradient(top, #3498db, #4a677b);
    background-image: -ms-linear-gradient(top, #3498db, #4a677b);
    background-image: -o-linear-gradient(top, #3498db, #4a677b);
    background-image: linear-gradient(to bottom, #3498db, #4a677b);
}
.toggleSections {
	width: 220px;
	margin-left: 3px;
	margin-top: 1px;
}
.toggleSections label{
  border: 1px solid #fff;
  font-size: 12px;
  text-align: center;
  width:50px;
  padding: 1px 0px;
  display:inline-block;
  cursor: pointer;
  color: #ffffff;
  background-color: #777777;
  transition: all 0.2s;
}

.toggleSections label:not(:first-of-type){
  border-left: 0;
}

.toggleSections label:hover{
  background-color: #333;
}

/* Hide the radio button */
input[name='sectionToggle']{ 
  display:none;
}

/* The checked buttons label style */
input[name='sectionToggle']:checked+label{
  background-color: #ed6b06;
} 
#noHead {
  display: inline-block;
  position: absolute;
  left: 190px;
  top: 22px;	
}
#noHead-label {
  display: inline-block;
  position: absolute;
  left: 183px;
  top: 33px;	
}
.btn_color.image {
    background-image: url('media/pickImage.png');
}
.btn_color {
  display: inline-block;
  position: absolute;
  height: 24px;
  width: 24px;
  left: 184px;
  top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #3498db;
  background-image: -webkit-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -moz-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -ms-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: -o-linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  vertical-align: middle;
}
#toggle {
	width: 120px;
	padding: 2px 68px 1px 51px;	
}

.btn.black {
	  background: #000000;
}
.btn {
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  /*font-size: 10pt;*/
  padding: 2px 7px 1px 7px;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
}
.btn.hidden {
  visibility: hidden;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#dgclose:hover {
  background: #f00000;
  background-image: -webkit-linear-gradient(top, #f00000, #903000);
  background-image: -moz-linear-gradient(top, #f00000, #903000);
  background-image: -ms-linear-gradient(top, #f00000, #903000);
  background-image: -o-linear-gradient(top, #f00000, #903000);
  background-image: linear-gradient(to bottom, #f00000, #903000);
  text-decoration: none;	
}

#saveCss {
	font-size: 14pt;
	-webkit-border-radius: 32;
	-moz-border-radius: 32;
	border-radius: 32px;
}
#showCssSaved {
	margin-left: 6px;
	font-size: 12pt;
	color: #900;
}
#custom_footer {
	position: relative;
	margin: 4px;
	left: 20%;	
}

.selectIcon {
    font-size: 8pt;
	border: 1px solid #ccc;
    width: 121px;
    border-radius: 3px;
    overflow: hidden;
	margin: 3px;
    background: #fafafa;
}

.selectIcon select {
	font-size: 8pt;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectIcon select:focus {
    outline: none;
}
#toggle_status {
	display: inline-block;
}
#tileImage_off {
    display: inline-block;
}
#tileImage_on {
    display: inline-block;
}
.iconChecks {
	font-size: 8pt;
	margin-right: 4px;
	color: #FFF;
}
#invertIcon, #noIcon {
	vertical-align: middle;
}
#tileEdit .minicolors-inline .minicolors-panel {
    left: auto;
}