[Unit]
Description=housepanel-push NodeJS Application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/var/www/html/smartthings/housepanel-push/
ExecStart=node /var/www/html/smartthings/housepanel-push/housepanel-push.js

[Install]
WantedBy=multi-user.target

