* {
    font-family: "Droid Sans", sans-serif;
    font-size: 11pt; padding: 0px; margin: 0px;
}
body {
    background-color: #ffffff;
    color: #000000;
    width: 1140px;
}
div.maintable {
/*    transform: scale(0.84);
    -ms-transform: scale(0.84);
    -moz-transform: scale(0.84);
    -o-transform: scale(0.84);
    -webkit-transform: scale(0.84);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;*/
}
h1, h2, h3 {
    color: #000000;
    font-size: 24pt;
    margin-bottom: 2px;    margin-top: 2px;    margin-left: 10px;
}

/*div {
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}*/
.ui-widget.ui-widget-content{
border-radius: 4px;
width:100%;
margin: 0px 0 0 0;
/*border-right: 5px solid #666666;
border-bottom: 5px solid #666666;*/

}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	text-decoration: none;
	padding: .5em 1em;
}
div.ui-tabs-panel, ui-widget-content {
    background: #333333;
}
ul.ui-tabs-nav {
    background-color: #666666;
    color: #000000;
    font-size: 12pt;
    border: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}
.ui-tabs {
    padding: 0;
}

.debug, .error {
  background-color: #cc3300;  color: #ffffff;  font-size: 10pt;
}

.hidden, ul.ul-tabs-nav.hidden {
    display: none;
}

.shown, ul.ul-tabs-nav.shown {
    display: inline-block;
}

div.skinoption, div.kioskoption, div.filteroption, td.optname {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 2px;
    color: #000000;
}

div.skinoption input {
    width: 600px;
}
div.filteroption {
    margin-top: 12px;
}
table.useroptions {
    margin-left: 8px;
    background-color: #f5f6de;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
td.optname {
    padding-left: 5px;
    padding-right: 30px;
}

form {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    width: 100%;
}
form.houseauth {
    text-align: left;
}

/* how the tab page shows up - this affects everything shown */
.ui-tabs .ui-tabs-panel {
    padding-top: 0px;    padding-bottom: 0px;
    padding-left: 0px;    padding-right: 4px;
    text-align: left;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

#options-tab {
    padding-top: 10px;
}

#options-tab {
    background-color: #ffffff;
    color: #000000;
}

/* this dummy element adds space to show backgrounds */
div.minheight {
    display: inline-block;
    width: 1px;
    height: 400px;
    color: rgba(0,0,0,0.01);
}

/* formatting for endpoint mode query of access id information */
table.showid {
    background-color: white;
    color: #000000;
    width: 90%;
    text-align: left;
    
}
table.showid td, table.showid th {
    width: 200px;
    font-size: 12pt;
    padding-left: 2px; padding-right: 2px;
}

/* format the options page */
div.thead {
    position: fixed;
}
div.scrollvtable {
    overflow-y: auto;
}
@media only screen and (orientation: landscape) {
    div.scrollvtable {
        /*max-height: 400px;*/
        overflow-y: hidden;
    }
}
@media only screen and (orientation: portrait) {
    div.scrollvtable {
        /*max-height: 800px;*/
        overflow-y: hidden;
    }
}
@media only screen and (hover: hover) {
    div.scrollvtable {
        overflow-y: scroll;
        max-height: 500px;
    }
}
div.scrollhtable {
    max-height: 100%;    overflow-x: auto;    overflow-y: hidden;
    background-color: #ffffff;
}
div.optionstable {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}
table.roomoptions, table.headoptions {
    margin: 0px;    background-color: #ffffff;    color: #000000;
    font-size: 11pt;    width: 100%;
    border-collapse: collapse;    border: 2px solid black;
    height: 24px;
}
table.headoptions {
    height: 40px;
}
table.headoptions th.roomname, table.headoptions th.thingname, table.headoptions th.customedit, table.headoptions th.customname {
    border-bottom: 5px solid rgba(0, 0, 80, 1);    border-left: 1px solid #ffffff;
    background-color: #3a5795;    color:#ffffff;
    font-weight: bold;    padding: 2px;    width: 100px;
    text-align: center;    line-height: 1.5;    height: 30px;
}
table.headoptions td, table.roomoptions td {
    width: 100px;
    color:#000000;
    text-align: center;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
table.roomoptions td.customedit, table.headoptions th.customedit {
    text-align: center; 
    width: 5%;    
}
table.roomoptions td.customname, table.headoptions th.customname {
    text-align: center; 
    width: 10%;    
}

table.roomoptions td.thingname, table.headoptions th.thingname {
    text-align: left; 
    width: 20%;    
    border-left: 1px solid #999999;
    font-weight: bold;
    border-left: 1px solid #999999;    
    border-right: 1px solid #999999;
}

table.roomoptions tr.showrow {
    height: 24px;
    background-color: #ffffff;
}
table.roomoptions tr.showrow.odd {
    background-color: #cccccc;
}
table.roomoptions tr.hiderow {
    display: none;
}

/* only adjust for scrollbar on screens with hover */
@media only screen and (hover: hover) {
    table.roomoptions tbody {
        overflow-y: scroll;  width: 95%;
    }
    table.headoptions thead th.roomname:last-child {
        padding-right: 12px;
    }
}
span.typeopt {
    font-weight: normal;    font-family: "Raleway", serif;    font-style: italic;
    color: #666666;
}
div.processoptions {
    margin-left: 0px; margin-top: 0px;    
    padding-top: 10px;
    background-color: white;
}

/* buttons */
input {
    background-repeat: no-repeat;
}
div.buttons, form.buttons {
    display: inline;
}
input.submitbutton, input.resetbutton, input.authbutton, div.restoretabs {
    background-color: #3a5795;
    width: 150px; height: 50px; margin-left: 10px; margin-right: 30px;
    cursor: pointer;    border: none;
    color: #eeeeee;    text-align: center;    font-weight: normal;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8); 
    border-right: 4px solid rgba(0, 0, 0, 0.8); 
    font-size: 14pt;
}
/* style restore tabs like a button - notice adjustments for border and vertical centering */
div.restoretabs {
    display: inline-block;
    padding-top: 12px; padding-right: 4px;
    width: 142px; height: 34px;
}
div.restoretabs.hidden {
    display: none;
}

/* don't need to display this anymore since use clock and panel click instead */
/* but the div needs to be in the php file to make the js work */
/* uncomment this to show the display link */
div.panel div.restoretabs {
    font-size: 12pt;
    color: rgba(0,0,0,0.1);
    width: auto; height: 20px; margin-top: 1px;
    border: 0px; text-align: right;
    background-color: rgba(0,0,0,0.1);
    position: absolute; right: -1px; bottom: -1px;
}
input.resetbutton {
    background-color: #333333;
}
input.authbutton {
    background-color: #993300;
    margin: 0;
    margin-left: 10px;
}
input.submitbutton:hover, input.resetbutton:hover, 
input.authbutton:hover, div.restoretabs:hover {
    font-weight: bold;    color: #ffffff;
    /* border-left: 4px solid rgba(126, 126, 126, 0.8);
    border-bottom: 0px; 
    border-right: 0px; */
}
div.sitename {
    background: #ffffff;     display: block;    position: relative;
    left: 400px;    width: 300px;    bottom: 49px;
}
/* End Changes for custom editing tiles in options page */

/* all things look like this */  
/* the heights are set to auto for larger items like weather and thermostats */
div.thing {
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border-top: 0px solid #cccccc; 
    border-right: 0px solid #cccccc;
    border-bottom: 0px solid #ffffff; 
    border-left: 0px solid #ffffff;
    background-color: rgba(0, 51, 204, 1.0);
    box-shadow: 2px 2px 7px black;
    color: #eeeeee;
    cursor: default;
    width: 120px; 
    height: auto;
}
div.thing:hover{
    position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
}

div.thing.switch-thing, div.thing.switchlevel-thing, div.thing.door-thing {
    height: auto;
}

/* styling defaults without state or specific thing subtypes */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, div.motion, div.lock, 
div.contact, div.music, div.thermostat, div.presence, div.piston, div.valve, div.door {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0px 0;
    margin: 0;
    cursor: default;
    width: 118px;
    /*height: 112px;*/
}

div.overlay {
    height: auto;
}

div.door.contact {
    display: none;
}

/* make room for battery state */
div.motion, div.contact, div.lock {
    /*height: 96px;*/
}

div.valve.switch, div.valve.contact {
    display: none;
}

/* the name of the thing - must be after the above heights */
div.thingname, div.thingname.motion, div.thingname.contact, 
div.thingname.lock, div.thingname.piston {
    background-color: #303050;
    font-size: 11pt;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgba(0,0,0,1.0);
    height: 30px;
    cursor: move;
}
div.thingname:hover {
    background-color: #5050a0; 
    color: #cccccc;
}

/* items that have a pointer */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, 
div.lock, div.mode.mode, div.piston, div.valve, div.routine.label {
    cursor: pointer;
}

/* style the on and off states of things to not show up */
/* set size to show text to avoid funky resizing, but use transparent color */
div.open, div.closed, div.inactive, div.active, div.locked, div.unlocked, 
div.on, div.off, div.present, div.absent, div.firing, div.piston.pistonName {
  background-position: 50% 20%;  
  font-size: 18px;
  color: rgba(255,255,255,1);
}

div.motion.battery, div.contact.battery, 
div.lock.battery, div.motion.temperature {
    height: 13px; font-size: 9pt; color: #ffffff;
}
div.motion.battery::before, div.contact.battery::before, div.lock.battery:before {
    content: "Battery: ";
}
div.motion.battery::after, div.contact.battery::after, div.lock.battery::after {
    content: " %";
}
div.motion.temperature::before {
    content: "T: ";
}
div.motion.temperature::after {
    content: " degF";
}
div.switch.level {
    display: none;
}
div.switch.energy, div.switchlevel.energy {
    display: none;
}
div.switch.power, div.switchlevel.power {
    display: none;
}
div.switch.energy::before, div.switchlevel.energy::before {
    content: "E (KwH): ";
}
div.switch.power::before, div.switchlevel.power::before {
    content: "P (W): ";
}

/* switchlevel / dimmer styling - make room for the dimmer controls */
div.switchlevel.switch {
    height: auto;
}
div.switchlevel.level, div.bulb.level, div.light.level {
    height: 32px;
}
	
/* handle the block of controls for adjusting the thermostat and levels */
div.thermostat.heat, div.thermostat.cool, div.music.level {
    color: #ffffee;
    border: 0px solid #ffffff;
    width: 118px; height: auto;
    padding: 0px;
    cursor: default;
    text-align: center;
}
/* up and down arrows */
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.colorTemperature-dn,
div.hue-up, div.hue-dn,
div.saturation-up, div.saturation-dn
{
    display: inline-block;
    width: 32px; height: 32px;
    border: 0px; padding: 0px;
    cursor: pointer;
}
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.colorTemperature-dn, div.hue-dn, div.saturation-dn {
    background-image: url("media/sprites.gif");
    background-position: -32px 0px;
/*    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.hue-up, div.saturation-up {
    background-image: url("media/sprites.gif");
    background-position: -272px -2px;
/*    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

/* music styling */
div.music {
    width: 178px;
}
div.music.level {
    width: 99%;
}
div.music-previous, div.music-pause, div.music-stop, div.music-play, div.music-next {
    background-image: url("media/Media-Player-Buttons.png");
    display: inline-block;
    background-repeat: no-repeat;
    height:38px; width: 32px;
    background-position: -160px -4px;
    margin-top: 10px;
}
div.music-pause {
    background-position: -64px -4px;
}
div.music-stop {
    background-position: -128px -4px;
}
div.music-play {
    background-position: -96px -4px;
}
div.music-next {
    background-position: -32px -4px;
}

/* make thermostat height auto */
div.thing.thermostat-thing{
    background-color: rgba(100,100,100,1) !important;
    height: auto;
}

/* individual temperature value inside a thermostat */
div.thermostat.temperature {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 50px !important;
    width: 50px;
    padding: 4px 3px 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.thermostat.thermofan, div.thermostat.thermomode {
    cursor: pointer;
    height: auto;
    padding: 0;
}
div.thermostat.thermomode.off, div.thermostat.thermofan.off {
	background-color: #333333;
	font-size: 11pt;
	height: auto;
        margin: 0;
        color: #ffffff;
}
div.thermostat.thermomode.heat {
    background-color: #ff3300;
}
div.thermostat.thermomode.cool {
    background-color: #3333ff;
}
div.thermostat.thermomode.auto, div.thermostat.thermofan.fanAuto {
    background-color: #009999;
}
div.thermostat.thermostate {
    background-color: #000000;
    cursor: default;
    height: auto;
    padding: 0;
}

/* values of the adjustable items */
div.heat-val, div.cool-val, div.level-val, div.switchlevel-val,
div.colorTemperature-val, div.hue-val, div.saturation-val {
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    width: 52px;
    height: 26px;
    padding-top: 6px;
    color: #ffffff;
    border: 0px;
}
div.heat-val {
    background-color: #cc3300;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.cool-val {
    background-color: #0033cc;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.switchlevel-val, div.level-val {
    background-color: #1bb14b;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.colorTemperature-val, div.hue-val, div.saturation-val {
    background-color: #ffff99;
    color: #000000;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}

/* hover over the adjustment arrows */
div.heat-up:hover, div.heat-dn:hover, 
div.cool-up:hover, div.cool-dn:hover,
div.switchlevel-up:hover, div.switchlevel-dn:hover,
div.colorTemperature-up:hover, div.colorTemperature-dn:hover,
div.hue-up:hover, div.hue-dn:hover,
div.saturation-up:hover, div.saturation-dn:hover,
div.level-up:hover, div.level-dn:hover {
    border: 2px solid #303030;
    width: 28px;
    height: 28px;
}

/* music styling */
div.thing.music-thing {
    background-color: rgba(80,0,50,1) !important;
    width: 180px;
    height: auto;
}
/* use italic serif font for music titles and a custom size */
div.music.track {
    font-family: "Raleway",serif;
    font-size: 11pt;
    font-style: italic;
    height: auto;
	padding-top: 5px;
    border-bottom: none;
}
div.music.musicstatus, div.music.musicmute {
    height: 28px;
    font-size: 11pt;
    border-top: 1px solid #ffffff;
}
div.music div.level-val {
    width: 60%;
}

/* pistons */
div.piston-thing {
    cursor: pointer;
}
div.piston.webcore {
    display: none;
}
div.piston.pistonName {
    height: 112px;
    color: rgba(102,102,102,0.01);
    background-color: rgba(102, 102, 102, 1);
    background-image: url('icons/piston.png');
}
div.piston.pistonName.firing {
    background-image: url('icons/pistonfiring.png');
}
/* weather styling */
div.thing.weather-thing, div.weather {
    text-align: center;
    height: auto;
}
div.thing.weather-thing {
    background-color: rgba(50,50,50,0.4) !important;
    width: 240px;
}
div.weather.temperature, div.weather.feelsLike {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 60px !important;
    width: 60px;
    padding: 4px 3px 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.weather.feelsLike::before {
    content: "~";
}
div.weather img {
    margin-left: 15px;
    margin-right: 15px;
}
div.weather.wind::before {
    content: "Wind: ";
}
div.weather.wind::after {
    content: " mph";
}
div.weather.humidity::before {
    content: "Humidity: ";
}
div.weather.percentPrecip::before {
    content: "Rain: ";
}
div.weather.humidity::after, div.weather.percentPrecip::after {
    content: "%";
}
div.weather.sunriseset {
    margin-top: 10px;
}
div.weather.sunriseset, div.weather.humidity,
div.weather.wind, div.weather.percentPrecip, div.weather.alerts{
    background-color: #333333;
    margin-bottom: 4px;
}
div.weather.timeZoneOffset, div.weather.alertKeys,
div.weather.sunriseDate, div.weather.sunsetDate,
div.weather.illuminance {
    display: none;
}
div.weather.weatherIcon, div.weather.forecastIcon {
    display: inline-block;
}

/* blank tiles styling */
div.thing.blank-thing {
    border: 0px none;
    padding: 0;
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
    box-shadow: none;
    width: auto;
    height: auto;
    cursor: move;
}
div.blank:hover {
    background-color: rgba(255,255,255,0.01);
}
div.b1x1, div.b1x2, div.b2x1, div.b2x2 {
    width: 120px;    height: 160px;
    font-size: 0px;    padding-left: 0px;
}
/* add special sizes for the b1x2, b2x1, and b2x2 tiles  */
div.b2x1, div.b2x2 {
    width: 244px;
}
div.b1x2,div.b2x2 {
    height: 320px;
}
div.thing.blank-thing:hover {
    position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

/* clock styling */
div.thing.clock-thing {
    height: 160px;
    width: 246px;
    cursor: move;
}
div.clock.weekday {
    margin-top: 10px;
    margin-bottom: 2px;
}
div.clock.time {
    font-size: 36pt;
    margin-top: 12px;
}
div.clock.tzone{
    display:none;
}

/* mode and routine styling */
div.thing.mode-thing {
    width: auto;
    height: 160px;
    cursor: move;
}
div.mode, div.mode1x1, div.mode1x2 {
    width: 120px;
}
div.mode2x1, div.mode2x2 {
    width: 246px;
}
div.mode1x2, div.mode2x2 {
    height: 326px;
}
div.mode.themode {
    font-size: 24pt;    margin-top: 10px;
    cursor: pointer;
}
div.mode.name {
    font-size: 12pt;    margin-top: 50px;
}
div.mode.zipcode {
    display:none;
}
div.routine.label {
    font-size: 18pt;    margin-top: 20px;
}

/* images */
div.thing.image-thing {
    border: 0px none;
    padding: 0;
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
    box-shadow: none;
    width: auto;
    height: auto;
    cursor: move;
}
div.image.url {
    width: 246px;
    height: 160px;
    font-size: 0px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* style for modal dialog boxes - presently not used */
.modalhide, .modalshow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 40%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: #ffffee;
}
.modalshow {
    display: block;
}


/* do not display these items */
div.checkInterval, div.switchlevel.checkInterval, div.switchlevel.indicatorStatus, 
div.switch.checkInterval, div.motion.checkInterval, div.switch.indicatorStatus, 
div.contact.checkInterval, 
div.switch.colorTemperature, div.lock.checkInterval,
div.lock.codeChanged, div.lock.lockCodes, div.lock.scanCodes,
div.lock.codeReport, div.lock.maxCodes, div.lock.maxCodeLength,
div.lock.minCodeLength, div.lock.codeLength,
div.thingname.blank, div.thingname.clock,
div.thingname.image, div.thingname.routine, 
div.thermostat.name, div.switch.name, div.contact.name, div.motion.name,
div.switchlevel.name, div.momentary.name, div.routine.name,
div.lock.name, div.light.name, div.door.name, div.bulb.name, div.mode.name,
div.valve.name, div.water.name, div.piston.name, div.thermostat.name, 
div.music.name, div.blank.name, div.image.name, div.presence.name {
    display:none;
}

/* custom settings for Ken's home only */
/* motion detector in family room that also has temperature */
div.motion.family.room {
    height: 80px;
}
div.motion.family.room.battery, div.motion.family.room.temperature {
    height: 13px; font-size: 9pt; color: #ffffff;
}

/* Place all your customization edits below to make updates simple */

/* Example custom settings from Ken's home */
/* you should remove these since they will likely do nothing */

/* images - can be customized to show any valid jpg or png on the web */
div.image.url.img1 {
    background-image: url("/smartthings/garagecam/livingroom.jpg");
}
div.image.url.img2 {
    background-image: url("/smartthings/garagecam/officecam.jpg");
}
div.image.url.img3 {
    background-image: url("/smartthings/garagecam/garagepic.jpg");
}
div.image.url.img4 {
    background-image: url("../media/myhouse.jpg");
}

/* hide the power and energy for my screen switch */
div.switchlevel.screen.power, div.switchlevel.screen.energy {
    display:none;
}
