/* 
    Created on : Nov 28, 2017, 4:13:53 AM
    Author     : Ken Washington
*/
* {
    font-family: "Arial", "Droid Sans", sans-serif;
    font-size: 16pt;
}
body {
    background-color: #333333;
    color: #ffffff;
}
div.main {
    background-color: #ffffff;
    color: black;
    width: 80%;
    margin-top: 0;
    margin-left: 10%;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 10px;
}
h1, h2, h3 {
    color: #000000;
    font-size: 28pt;
    margin-top: 48px;
    margin-bottom: 2px;    
    font-weight: bold;
}
div.center h1 {
    margin-top: 0px;
}
h2 {
    font-size: 24;
    margin-top: 24px;
    margin-bottom: 2px;
}
h3 {
    font-size: 20;
    text-decoration: underline;
    margin-top: 12px;
    margin-bottom: 2px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 95%;
}
div.center {
    text-align: center;
}
blockquote, div.code {
    font-size: 14pt;
    background-color: #cccccc;
    border: 2px black solid;
    overflow-x: scroll;
}
table {
    color: black;
    background-color: #eeeeee;
    width: 80%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
}
td {
    font-size: 14pt;
}
.hidden {
    display: none;
}
