/* panel backgrounds go here in the skin */
div.panel-Family, div.panel-family, div.panel-Familyroom, div.panel-familyroom {
    background-image: url('media/family.jpg');
}
div.panel-Kitchen, div.panel-kitchen, div.panel-Dinette, div.panel-dinette {
    background-image: url('media/kitchenroom.jpg');
}
div.panel-Living, div.panel-living, div.panel-Livingroom, div.panel-livingroom {
    background-image: url('media/formal.jpg');
}
div.panel-Outside, div.panel-outside {
    background-image: url('media/outside.jpg');
}
div.panel-Garage, div.panel-garage {
    background-image: url('media/garage.jpg');
}
div.panel-Office, div.panel-office, div.panel-Library, div.panel-library {
    background-image: url('media/office.jpg');
}
div.panel-Bedroom, div.panel-bedroom, div.panel-Bedrooms, div.panel-bedrooms {
    background-image: url('media/bedroom.jpg');
}
div.panel-Music, div.panel-music, div.panel-Theater, div.panel-theater, 
div.panel-Entertainment, div.panel-entertainment {
    background-image: url('media/music.jpg');
}
div.panel-Thermostats, div.panel-thermostats {
    background-image: url('media/thermostat.jpg');
}

/* all things look like this */  
/* the heights are set to auto for larger items like weather and thermostats */
div.thing {
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border-top: 2px solid #999999; 
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333; 
    border-left: 2px solid #999999;
    background-color: rgba(0, 51, 204, 0.6);
    box-shadow: 2px 2px 7px black;
    color: rgba(250, 250, 250, 1);
    cursor: default;
    width: auto; 
    height: auto;
    z-index: 1;

    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
div.thing:hover{
    position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.70); 
}

div.thing.switch-thing, div.thing.switchlevel-thing, div.thing.bulb-thing {
    height: auto;
    width: auto;
}
div.thing.catalog-thing {
    display: inline-block;
    width: 120px;
}

/* styling defaults without state or specific thing subtypes */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, div.motion, div.lock, 
div.contact, div.music, div.presence, div.piston, div.valve, div.overlay div.door, 
div.temperature, div.overlay div.themode, div.shm, div.hsm {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0px 0;
    margin: 0;
    cursor: default;
}

div.switch, div.bulb, div.light, div.switchlevel, div.momentary, div.motion, div.lock, 
div.contact, div.music, div.presence, div.piston, div.valve, div.overlay div.door,
div.overlay div.themode, div.shm, div.hsm, 
div.temperature-thing, div.thingname.temperature {
    width: 120px;
}

/* heights for things with icons */
div.switch.on, div.switch.off, div.light.on, div.light.off,
div.presence.present, div.presence.absent,
div.valve.open, div.valve.closed, div.momentary.on, div.momentary.off,
div.lock.locked, div.lock.unlocked, div.lock.unknown, div.motion.active, div.motion.inactive,
div.contact.open, div.contact.closed {
    height: 112px;
}

/* items that have a pointer */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, 
div.lock, div.mode.themode, div.piston, div.valve, div.routine.label,
div.level, div.door.garage,
div.custom-thing div.custom.post,
div.piston-thing, div.music.musicmute, div.overlay.music-controls div.music,
div.door.garage.closed, div.door.garage.closing, div.door.garage.open, div.door.garage.opening,
div.thermostat.thermofan, div.thermostat.thermomode,
div.valve.startZone, div.valve.pause, div.piston-thing div.pistonName,
div.shm.state, div.hsm.state
{
    cursor: pointer;
}
div.contact.door {
    cursor: default;
}

/* the name in the header */
div.thingname, div.catalog-thing div.thingname {
    background-color: #303050;
    font-size: 11pt;
    text-align: center;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    height: 30px;
    width: 100%;
    cursor: default;
}
div.thingname:hover {
    filter: invert(1);
}

/* style the on and off states of things to not show up */
/* set size to show text to avoid funky resizing, but use transparent color */
div.open, div.closed, div.inactive, div.active, div.locked, div.unlocked, div.unknown, 
div.on, div.off, div.present, div.absent, div.firing, div.piston.pistonName {
    font-size: 11pt;
    background-position: center center;
}

/* alter the thermostat on and off to show since we don't use an icon here */
div.thermostat.thermomode.auto, div.thermostat.thermomode.off,
div.thermostat.thermomode.heat, div.thermostat.thermomode.cool,
div.thermostat.thermofan.off, div.thermostat.thermofan.on, div.thermostat.thermofan.circulate {
    font-size: 11pt;
    background-image: none;
    background-position: center center;
    color: rgba(255, 255, 255, 1);
}

/* this section is for specific thing icons and texts */
/* the transparency is set to near zero so text doesn't show */
div.contact.open {
    background-image: url('icons/opencontact.png');
    color: rgba(255, 255, 255, 0.01);
}
div.contact.closed {
    background-image: url('icons/closecontact.png');
    color: rgba(255, 255, 255, 0.01);
}
div.contact.mat.open {
    background-image: url('icons/matempty.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 80px;
}
div.contact.mat.closed {
    background-image: url('icons/matfull.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 80px;
}

/* specific contact types one might find */
div.door.open, div.contact.door.open {
    background-image: url('icons/opendoor.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 40px;
}
div.door.closed, div.contact.door.closed {
    background-image: url('icons/closedoor.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 40px;
}
/* hide the contact part of garage doors that include an embedded contact sensor */
div.door-thing.garage div.contact {
    display: none;
}
div.contact.window.open {
    background-image: url('icons/openwindow.png');
    color: rgba(255, 255, 255, 0.01);
}
div.contact.window.closed {
    background-image: url('icons/closewindow.png');
    color: rgba(255, 255, 255, 0.01);
}
div.door.garage.open, div.door.garage.opening {
    background-image: url('icons/garage-opened.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 80px;
    height: 112px;
}
div.door.garage.closed, div.door.garage.closing {
    background-image: url('icons/garage-closed.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 80px;
    height: 112px;
}

/* fill tile with valve image */
div.overlay.valve div.valve {
    background-size: 120px;
}
div.valve.open {
    background-image: url('icons/sprinkler-on.png');
    background-color: rgba(27,177,75,0.3);
    color: rgba(255, 255, 255, 0.01);
    height: 112px;
}
div.valve.closed {
    background-image: url('icons/sprinkler-off.png');
    background-color: rgba(0, 51, 204, 0.3);
    color: rgba(255, 255, 255, 0.01);
    height: 112px;
}
div.valve.startZone, div.valve.pause {
    background-color: rgba(50,50,50,1);
}
/* special handling of garage entry which is a door */
div.contact.garage.entry.open {
    background-image: url('icons/opendoor.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 40px;
    height: 112px;
}
div.contact.garage.entry.closed {
    background-image: url('icons/closedoor.png');
    color: rgba(255, 255, 255, 0.01);
    background-size: 40px;
    height: 112px;
}

/* motion styling */
div.motion.inactive {
    background-image: url('icons/stand.png');
    background-color: rgba(0, 51, 204, 0);
    color: rgba(255, 255, 255, 0.01);
}
div.motion.active {
    background-image: url('icons/run.png');
    background-color: rgba(0, 51, 204, 0);
    color: rgba(255, 255, 255, 0.01);
}

/* lock styling */
div.lock.locked {
    background-image: url('icons/lock.png');
    background-color: rgba(153, 0, 51, 1);
    color: rgba(255, 255, 255, 0.01);
    background-size: 80px;
    background-position-y: 50px;
}
div.lock.unlocked, div.lock.unknown {
    background-image: url('icons/unlock.png');
    background-color: rgba(0, 102, 51, 1);
    color: rgba(255, 255, 255, 0.01);
    background-size: 70px;
    background-position-y: 50px;
}
div.thing.lock-thing {
    background-color: rgba(153, 0, 51, 1);
}

/* switch styling */

div.switch.on, div.switch.light.on, div.switchlevel.on, div.bulb.on, div.light.on {
    background-image: url('icons/bulbon.png');
    color: rgba(255, 255, 255, 0.01);
}
div.switch.off, div.switch.light.off, div.switchlevel.off, div.bulb.off, div.light.off {
    background-image: url('icons/bulboff.png');
    color: rgba(255, 255, 255, 0.01);
}
div.switch.plug.on {
    background-image: url('icons/plugon.png');
}
div.switch.plug.off {
    background-image: url('icons/plugoff.png');
}
/* enable this if you want to show levels for switches and bulbs */
/* this will duplicate the switchlevel functionality */
div.switch.level {
    display: none;
}

/* new style uses overlay to put in bottom right corner */
div.overlay.power, div.overlay.energy {
	position: absolute; top: 32px; left: 0px;
	z-index: 100;
        border: none;
        background: none;
	height: auto;
}
div.overlay.power div.switch.power {
    z-index: 101;
    display: block;
    float: left;
    height: 12px;
    text-align: left;
    color: rgba(10,96,10,1);
    font-weight: bold;
    font-size: 10pt;
    margin-left: 5px;
}
div.overlay.energy div.switch.energy {
    z-index: 101;
    display: block;
    float: right;
    height: 12px;
    text-align: right;
    color: rgba(10,96,10,1);
    font-weight: bold;
    font-size: 10pt;
}

/* switchlevel / dimmer styling - make room for the dimmer controls */
/* if you have a dimmer with power and energy controls - see custom below */
div.switchlevel.switch, div.bulb.switch {
    height: 80px;
}
div.switchlevel.colorTemperature, div.switchlevel.hue, div.switchlevel.saturation {
    height: 32px;
}

div.switchlevel.level, div.bulb.level, div.music.level {
    height: 4px;
}

/* momentary styling */
div.momentary.off {
    background-image: url('icons/3dbutton.png');
    background-color: rgba(0,51,204,0.6);
    color: rgba(255, 255, 255, 0.01);
    height: 112px;
    background-size: 90px;
}
div.momentary.on {
    background-image: url('icons/3dbuttonpush.png');
    background-color: rgba(0,51,204,0.6);
    color: rgba(255, 255, 255, 0.01);
    height: 112px;
    background-size: 90px;
}

/* hover over on and off states */
/*div.on:hover, div.off:hover, div.unlocked:hover, div.locked:hover {
  background-color: rgba(51, 51, 51, 0.3);
}*/

/* up and down arrows */
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.colorTemperature-dn,
div.hue-up, div.hue-dn,
div.saturation-up, div.saturation-dn
{
    display: inline-block;
    width: 32px; height: 32px;
    border: 0px; padding: 0px;
    cursor: pointer;
}
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn, div.music div.vol-dn,
div.colorTemperature-dn, div.hue-dn, div.saturation-dn {
    background-image: url("media/sprites.gif");
    color: rgba(255, 255, 255, 0.01);
    background-position: -32px 0px;
	background-size: auto;
/*    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.heat-up, div.cool-up, div.level-up, div.switchlevel-up, div.music div.vol-up,
div.colorTemperature-up, div.hue-up, div.saturation-up {
    background-image: url("media/sprites.gif");
    color: rgba(255, 255, 255, 0.01);
    background-position: -272px -2px;
	background-size: auto;
/*    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

/* music styling */
div.music.level, div.music.vol {
    width: 99%;
}
div.music-previous, div.music-pause, div.music-stop, div.music-play, div.music-next {
    /*background-image: url("media/Media-Player-Buttons.png");*/
    color: rgba(255, 255, 255, 0.01);
    background-size: 38px;
    display: inline-block;
    background-repeat: no-repeat;
    height:38px; 
    width: 32px;
    /*background-position: -160px -4px;*/
    margin-top: 5px;
    /*position: absolute;*/
}
div.music-pause {
    background-image: url("media/pause.png");
}
div.music-stop {
    background-image: url("media/stop.png");
}
div.music-play {
    background-image: url("media/play.png");
}
div.music-previous {
    background-image: url("media/prev.png");
}
div.music-next {
    background-image: url("media/next.png");
}

/* make thermostat height auto */
div.thing.thermostat-thing{
    background-color: rgba(100,100,100,0.4);
    height: auto;
}

/* round temperature value inside a thermostat */
div.thermostat.temperature,
div.overlay.temperature div.temperature,
div.weather.temperature, div.weather.feelsLike {
    display: inline-block;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 4px 3px 0 3px;
    margin: 10px 12px 10px 12px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

div.thermostat.thermomode.off, div.thermostat.thermofan.off,
div.thermostat.thermomode.on, div.thermostat.thermofan.on,
div.thermostat.thermostate, div.thermostat.humidity  {
	background-color: #333333;
	font-size: 11pt;
	height: auto;
        margin: 0; padding: 0;
        color: #ffffff;
}
div.thermostat.thermomode.on, div.thermostat.thermofan.on {
    background-color: #3333ff;
}
div.thermostat.thermomode.heat {
    background-color: #ff3300;
}
div.thermostat.thermomode.cool {
    background-color: #3333ff;
}
div.thermostat.thermomode.auto, div.thermostat.thermofan.auto {
    background-color: #009999;
}
div.thermostat.humidity {
    background-color: #666666;
}
div.thermostat.thermofan::before {
    content: "Fan: ";
}
div.thermostat.thermomode::before {
    content: "Mode: ";
}
div.thermostat.thermostate::before {
    content: "State: ";
}
div.thermostat.humidity::before {
    content: "Humidity: ";
}
div.thermostat.humidity::after {
    content: "%";
}

/* values of the adjustable items */
div.heat-val, div.cool-val, div.level-val, div.switchlevel-val,
div.colorTemperature-val, div.hue-val, div.saturation-val, div.vol-val {
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    width: 72px;
    height: 26px;
    padding-top: 6px;
    color: rgba(255, 255, 255, 1);
    border: 0px;
}
div.heat-val {
    background-color: #cc3300;
}
div.cool-val {
    background-color: #0033cc;
}
div.colorTemperature-val, div.hue-val, div.saturation-val {
    background-color: #ffffff;
    color: #000000;
}
div.thermostat.thermomode, div.thermostat.thermofan, div.thermostat.thermofan.on,
div.thermostat.thermostate, div.thermostat.humidity {
    width: 100%;
}
div.thing.temperature-thing {
    height: 150px;
}

/* hover over the adjustment arrows */
div.heat-up:hover, div.heat-dn:hover, 
div.cool-up:hover, div.cool-dn:hover,
div.switchlevel-up:hover, div.switchlevel-dn:hover,
div.colorTemperature-up:hover, div.colorTemperature-dn:hover,
div.hue-up:hover, div.hue-dn:hover,
div.saturation-up:hover, div.saturation-dn:hover,
div.vol-up:hover, div.vol-dn:hover,
div.level-up:hover, div.level-dn:hover {
    border: 2px solid #303030;
    width: 28px;
    height: 28px;
}

/* music styling */
div.thing.music-thing {
    background-color: rgba(80,0,50,0.4);
    width: 180px;
    height: auto;
}
/* use italic serif font for music titles and a custom size */
div.music.track {
    font-family: "Raleway",serif;
    font-size: 11pt;
    font-style: italic;
    height: 48px;
    width: 180px;
    padding-top: 2px;
    border-bottom: none;
    background-color: rgba(80, 80, 80, 0.7);
}
div.music.musicstatus, div.music.musicmute {
    height: 24px;
    width: 100%;
    font-size: 11pt;
    background-color: rgba(80, 80, 80, 0.7);
}

/* pistons */
div.piston.pistonName {
    height: 112px;
    color: rgba(102,102,102,0.01);
    background-color: rgba(102, 102, 102, 1);
    background-image: url('icons/piston.png');
}
div.piston.pistonName.firing {
    background-image: url('icons/pistonfiring.png');
    color: rgba(255, 255, 255, 0.01);
}

/* weather styling */
div.thing.weather-thing {
    background-color: rgba(0,0,0,0.01);
    width: 240px;
    text-align: center;
    height: auto;
}
div.overlay.temperature div.weather.temperature, div.overlay.feelsLike div.weather.feelsLike {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 70px;
    width: 70px;
    padding: 4px 3px 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.weather.feelsLike::before {
    content: "Like: ";
    font-size: 8pt;
}
div.weather img {
    margin-left: 15px;
    margin-right: 15px;
}
div.weather.wind::before {
    content: "Wind: ";
}
div.weather.wind::after {
    content: " mph";
}
div.weather.humidity::before {
    content: "Humidity: ";
}
div.weather.percentPrecip::before {
    content: "Rain: ";
}
div.weather.humidity::after, div.weather.percentPrecip::after {
    content: "%";
}
div.weather.illuminance::after {
    content: " Lux";
}
div.weather.sunriseset {
    margin-top: 10px;
}
div.weather.sunriseset, div.weather.humidity,
div.weather.wind, div.weather.percentPrecip, div.weather.alert, div.weather.illuminance {
    background-color: #333333;
    margin-bottom: 0px;
}
div.weather.timeZoneOffset, div.weather.alertKeys,
div.weather.sunriseDate, div.weather.sunsetDate,
div.weather.ultravioletIndex, div.weather.lastUpdate {
    display: none;
}
div.weather.weatherIcon, div.weather.forecastIcon {
    display: inline-block;
}
div.weather-thing div.overlay {
    display: inline;
    padding-right: 0px;
}
div.weather-thing div.overlay.temperature, div.weather-thing div.overlay.feelsLike {
    display: inline;
    padding-right: 4px;
}
div.overlay.weatherIcon div.weather, div.overlay.forecastIcon div.weather {
    background-position-y: 8px;
    width: 80px;
    height: 74px;
    padding-top: 6px;
    margin-left: 8px; margin-right: 8px;
    color: rgba(0, 0, 0, 1);
    background-size: 80px;
}
div.weather-thing div.overlay.name, div.weather-thing div.overlay.city {
    display: none;
    position: relative;
}
div.overlay.weatherIcon div.clear, div.overlay.forecastIcon div.clear {
    background-image: url("media/clear.png");
}
div.overlay.weatherIcon div.mostlysunny, div.overlay.forecastIcon div.mostlysunny {
    background-image: url("media/partlysunny.png");
}
div.overlay.weatherIcon div.partlysunny, div.overlay.forecastIcon div.partlysunny {
    background-image: url("media/partlysunny.png");
}
div.overlay.weatherIcon div.rain, div.overlay.forecastIcon div.rain {
    background-image: url("media/rain.png");
}
div.overlay.weatherIcon div.chancerain, div.overlay.forecastIcon div.chancerain {
    background-image: url("media/rain.png");
}
div.overlay.weatherIcon div.snow, div.overlay.forecastIcon div.snow {
    background-image: url("media/snow.png");
}
div.overlay.weatherIcon div.chancesnow, div.overlay.forecastIcon div.chancesnow {
    background-image: url("media/snow.png");
}
div.overlay.weatherIcon div.tstorms, div.overlay.forecastIcon div.tstorms {
    background-image: url("media/tstorms.png");
}
div.overlay.weatherIcon div.chancetstorms, div.overlay.forecastIcon div.chancetstorms {
    background-image: url("media/tstorms.png");
}
div.overlay.weatherIcon div.cloudy, div.overlay.forecastIcon div.cloudy {
    background-image: url("media/cloudy.png");
}
div.overlay.weatherIcon div.mostlycloudy, div.overlay.forecastIcon div.mostlycloudy {
    background-image: url("media/mostlycloudy.png");
}
div.overlay.weatherIcon div.partlycloudy, div.overlay.forecastIcon div.partlycloudy {
    background-image: url("media/mostlycloudy.png");
}
div.overlay.weatherIcon div.windy, div.overlay.forecastIcon div.windy {
    background-image: url("media/windy.png");
}
div.overlay.weatherIcon div.sleet, div.overlay.forecastIcon div.sleet {
    background-image: url("media/rain.png");
}

/* clock styling */
div.thing.clock-thing {
    height: 150px;
    width: 246px;
}
div.thing.clock-thing.analog {
    background-color: white;
}
div.clock.weekday {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.clock.time {
    font-size: 36pt;
    margin-top: 12px;
}

/* mode and ST shm and Hubitat hsm styles */
div.thing.mode-thing, div.thing.shm-thing, div.thing.hsm-thing {
    width: auto;
    height: auto;
}
div.mode-thing.m1x1, div.mode-thing.m2x1, div.mode-thing.hm1x1, div.mode-thing.hm2x1 {
    height: 147px;
}
div.mode-thing.m1x2, div.mode-thing.m2x2, div.mode-thing.hm1x2, div.mode-thing.hm2x2 {
    height: 300px;
}
div.mode-thing.m1x1, div.mode-thing.m1x2, div.mode-thing.hm1x1, div.mode-thing.hm1x2 {
    width: 120px;
}
div.mode-thing.m2x1, div.mode-thing.m2x2, div.mode-thing.hm2x1, div.mode-thing.hm2x2 {
    width: 244px;
}
div.mode.themode {
    font-size: 20pt;
    margin-top: 10px;
    height: 24px;
}
div.mode-thing div.sitename {
    margin-top: 45px;
    height: auto;
}
div.mode-thing div.overlay.themode {
    height: auto;
}
div.shm.state,
div.hsm.state {
    font-size: 20pt;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
}
div.shm.state, div.hsm.state {
    background-size: 70px;
    background-repeat: no-repeat;
    height: 102px;
    background-position-x: center;
    background-position-y: bottom;
}
div.shm.state.stay, div.hsm.state.armedHome, div.hsm.state.armedNight {
    background-image: url('icons/security-blue.png');
}
div.shm.state.away, div.hsm.state.armedAway {
    background-image: url('icons/security-red.png');
}
div.shm.state.off, div.hsm.state.disarmed, div.hsm.state.allDisarmed {
    background-image: url('icons/security-green.png');
}

/* SmartThings routines */
div.routine.label {
    font-size: 18pt;
    margin-top: 20px;
}

/* images */
div.thing.image-thing {
    border: 0px none;
    padding: 0;
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
    box-shadow: none;
    width: auto;
    height: auto;
}
div.image.url {
    width: 246px;
    height: 160px;
    font-size: 0px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
}

/* presence styling */
div.presence.present {
    background-image: url('icons/boypresent.png');
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.01);
}
div.presence.absent {
    background-image: url('icons/boyabsent.png');
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.01);
}

div.bulb.color, div.light.color {
    position: absolute;
    left: 8px;
    top: 44px;
    height: 32px;
    width: 32px;
    font-size: 12px;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
div.bulb.colorMode {
    display: none;
}

div.custom-thing {
    height: 150px;
    width: 120px;
}
div.custom.post {
    height: 80px;
    color: rgba(255, 255, 255, 1);
}
div.custom.text {
    height: 30px;
    color: rgba(255, 255, 255, 1);
}

/* for weather illuminance avoid showing T and fix humidity */
div.illuminance-thing .overlay.temperature {
    display: none;
}
div.illuminance-thing .illuminance.humidity:after {
    content: "%";
}

div.switchlevel.colorTemperature, div.bulb.colorTemperature {
    height: 4px;
}

iframe body {
    margin: 0px;
}
div.thing.frame-thing.weather div.thingname.frame {
    width: 480px;
    margin-left: 13px;
    padding: 0;
}
div.thing.frame-thing.weather {
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 0; 
}
div.thing.frame-thing div.overlay.status {
    display: none;
}

div.frame.forecast {
    height: 200px;
}

div.thing.video-thing {
    width: 246px;
    height: 147px;
}
div.thingname.video {
    display: none;
}

/* user overlay name for locks instead of title bar */
div.thingname.lock {
    display: none;
}
div.lock.locked, div.lock.unlocked, div.lock.unknown {
    height: 146px;
}
/* locks */
div.lock-thing div.overlay.name {
    display: block;
    position: absolute;
    border: none;
    background: none;
    left: 2px;
    color: rgba(255, 255, 255, 1);
}

div.overlay.name div.lock.name {
  display: block;
  width: 24px;
  font-size: 10pt;
}
div.overlay {
    width: 100%;
    display: block;
}
div.overlay.level {
    height: 32px;
}

/* remove slider from regular switches */
div.switch-thing div.overlay.level {
    display: none;
    height: 0px;
}

/* Example custom settings from Ken's home */
/* you should remove these since they will likely do nothing */

/* images - can be customized to show any valid jpg or png on the web */
div.image.url.img1 {
    background-image: url("/smartthings/garagecam/livingroom.jpg");
}
div.image.url.img2 {
    background-image: url("/smartthings/garagecam/officecam.jpg");
}
div.image.url.img3 {
    background-image: url("/smartthings/garagecam/garagepic.jpg");
}
div.image.url.img4 {
    background-image: url("../media/myhouse.jpg");
}

/* girl sillhouette for wife's phone */
div.presence.jana.present {
    background-image: url('icons/girlpresent.png');
    color: rgba(255, 255, 255, 0.01);
}
div.presence.jana.absent {
    background-image: url('icons/girlabsent.png');
    color: rgba(255, 255, 255, 0.01);
}

/* smart switch on my rock fountain */
div.switch.rock.on {
    background-image: url('icons/rockon.png');
    background-color: rgba(0, 51, 204, 0);
    color: rgba(255, 255, 255, 0.01);
}
div.switch.rock.off {
    background-image: url('icons/rockoff.png');
    background-color: rgba(0, 51, 204, 0);
    color: rgba(255, 255, 255, 0.01);
}

/* my porch has a fan with a light on it so this is a custom setup */
/* the smart switch has power settings that I ignore */
div.switch.screen.on, div.switch.screen.off {
    height: 80px;
}
div.switchlevel.screen.switch, div.switchlevel.screen.on, div.switchlevel.screen.off {
    height: 80px;
}
/* hide the power and energy for my screen switch */
div.switchlevel.screen.power, div.switchlevel.screen.energy {
    display:none;
}

/* these settings are for my Stereo and TV both controled via KuKuHarmony  */
/* They are installed in HP using an Other tile */
div.other-thing div.switch {
    height: 20px;
    background-color: rgba(50, 50, 50, 1);
}
div.other-thing.pioneer, div.other-thing.pioneer div.thingname, div.other-thing.lg, div.other-thing.lg div.thingname {
    width: 420px;
    padding-left: 0;
    padding-right: 0;
}
div.other-thing.pioneer, div.other-thing.lg {
    background-color: rgba(110, 222, 222, 0.3);
}
div.other-thing.pioneer div.overlay,
div.other-thing.lg div.overlay {
    display: inline-block;
    width: 80px; height: 30px;
    padding-top: 10px;
    margin: 4px;
    border: 2px solid cyan;
    background-color: rgba(0, 50, 50, 1)
}
div.other-thing.pioneer div.overlay.healthStatus,
div.other-thing.pioneer div.overlay.name, 
div.other-thing.lg div.overlay.healthStatus,
div.other-thing.lg div.overlay.name 
{
    display: none;
}
div.other.switch {
    background-image: none;
    height: auto;
    width: auto;
    font-size: 11pt;
    color: rgba(255, 255, 255, 1);
}

/* these make KuKu harmony things show up correctly */
div.other-thing div.overlay._on,
div.other-thing div.overlay._off,
div.other-thing div.overlay._on,
div.other-thing div.overlay._on {
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 12pt;
}
