* {
    font-family: "Droid Sans", sans-serif;
    font-size: 11pt; padding: 0px; margin: 0px;
}

h1, h2, h3 {
    background: #ffffff;
    color: #000000;
    font-size: 24pt;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 10px;
}

.ui-widget.ui-widget-content{
border-radius: 4px;
width:100%;
margin: 0px 0 0 0;
border-right: 5px solid #666666;
border-bottom: 5px solid #666666;

}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	text-decoration: none;
	padding: .5em 1em;
}

div.ui-tabs, div.ui-tabs-panel, ui-widget-content {
    background: #333333;
}


ul.ui-tabs-nav {
    background: #666666;
    color: #000000;
    font-size: 12pt;
	border: none;
	
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui.widget-header {
    background: #cccccc
}

body {
  background-color: #ffffff;
  color: #ffffff;
}

.debug, .error {
  background-color: #cc3300;
  color: #ffffff;
  font-size: 10pt;
}

form {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    width: 100%;
}

form.houseauth {
    text-align: right;
}

/* how the tab page shows up - this affects everything shown */
.ui-tabs .ui-tabs-panel {
    padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: left;
	
}

/* specific tabs can be fully customized by ID as shown here */
/* this would put the content on the right when uncommented */


#options-tab {
    background-color: #ffffff;
    color: #000000;
	
}

/* all panels look like this */
div.panel {
    display: inline-block;
    border: 0px solid #3333cc;
    padding: 2px;
    width: 100%;
	margin: auto;
    position:relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	
}

div.panel-family {
	background-image: url('family.png');
	background-attachment: fixed;	
	background-repeat: no-repeat;
    background-position: center;
}

div.panel-kitchen, div.panel-dinette {
	background-image: url('kitchenroom.png');
	background-attachment: fixed;	
	background-repeat: no-repeat;
}

div.panel-formal, div.panel-living {
	background-image: url('formal.png');
	background-attachment: fixed;	
	background-repeat: no-repeat;
    background-position: center;
}

a:hover {
    background-position: 0 -32px;
}


div.panel-outside, div.panel-garage {
    background-image: url('outside.png');
    background-attachment: fixed;	
    background-repeat: no-repeat;
    background-position: center;
}

div.panel-office {
    background-image: url('office.png');
    background-attachment: fixed;	
    background-repeat: no-repeat;
}

div.panel-bedrooms {
    background-image: url('bedroom.png');
    background-attachment: fixed;	
    background-repeat: no-repeat;
    background-position: center;
}


/* make specific panels look however you wish */
div.panel-music, div.panel-theater {
  background-image: url('music.png');
  background-attachment: fixed;	
  background-repeat: no-repeat;
  background-position: center;
}

div.panel-thermostats {
  background-image: url('thermostat.png');
  background-attachment: fixed;	
  background-repeat: no-repeat;
  background-position: center;
}

/* locate and style the blocks of data for history info */
div.sensordata {
    display: inline-block;
    position: relative;
    top: 2px; right: 2px;
    width: 30%; height: auto;
    border-left: 4px solid #ffffff;
    vertical-align: top;
}

table.sensordata {
    width: 100%;
    text-align: left;
}

table.headoptions {
    background-color: white;
    color: #000000;
    font-size: 11pt;
    height: 40px;
    margin-left: 0px;
    width: 1200px;
}

table.headoptions thead {
    top: 20px; left: 10px;
}

div.scrollvtable {
    max-height: 600px;
    overflow-y: auto;
}

div.scrollhtable {
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #ffffff;
}

table.roomoptions, table.headoptions {
    margin: 0px;
    background-color: #ffffff;
    color: #000000;
    font-size: 11pt;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

table.roomoptions td {
    text-align: center; width: 100px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    line-height: 1.5;
    padding: 2px;
}

table.roomoptions tr::even td {
    background-color: #eeeeee;
}

table.roomoptions tr::odd td {
    background-color: #ffffff;
}

table.roomoptions td.thingname {
    text-align: left; 
    width: 300px;
    padding: 2px;
    font-weight: bold;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

table.roomoptions thead th, table.headoptions thead th {
    border-bottom: 5px solid rgba(0, 0, 80, 1);
    border-left: 1px solid #ffffff;
    background-color: #3a5795;
    color:#ffffff;
    font-weight: bold;
    padding: 2px;
    width: 100px;
    text-align: center;
    line-height: 1.5;
    height: 30px;
}
table.headoptions thead th.roomname:last-child {
    padding-right: 17px;
}

table.roomoptions th.thingname, table.headoptions th.thingname {
    text-align: left; width: 300px;
    border-left: 1px solid #999999;
}

table.roomoptions tbody {
  height: 600px;
  overflow-y: scroll;
  width: 100%;
  border-top: 2px solid black;
}


span.typeopt {
    font-weight: normal;
    font-family: "Raleway", serif;
    font-style: italic;
    color: #666666;
}

div.processoptions {
    margin-left: 0px; margin-top: 0px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,.50);
}

input.submitbutton, input.resetbutton, input.authbutton {
    background-repeat: no-repeat;
    width: 150px; height: 50px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    color: #eeeeee;
    text-align: center;
    font-weight: normal;
    font-size: 14pt;
        /*
	-webkit-margin-after: 10px;
	-webkit-transition-property: width;
    -webkit-transition-duration: .7s;
    transition-property: width;
    transition-duration: .7s;
    */
}

input.submitbutton {
    background-color: #3a5795;
    border-bottom: 8px solid rgba(0, 0, 0, 0.25); 
}
input.resetbutton {
    background-color: #333333;
    border-bottom: 8px solid rgba(0, 0, 0, 0.25); 
}
input.authbutton {
    background-color: #993300;
    border-bottom: 8px solid rgba(0, 0, 0, 0.25); 
    margin: 0;
    margin-left: 10px;
}

input.submitbutton:hover, input.resetbutton:hover, input.authbutton:hover{
    font-weight: bold;
    color: #ffffff;
}

div.sitename {
    background: #ffffff; 
    display: block;
    position: relative;
    left: 400px;
    width: 300px;
    bottom: 49px;
}


/* all things look like this */

  
div.thing {
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border-top: 0px solid #cccccc; 
    border-right: 0px solid #cccccc;
    border-bottom: 0px solid #ffffff; 
    border-left: 0px solid #ffffff;
    background-color: rgba(0, 51, 204, 0.4);
    box-shadow: 2px 2px 7px black;
    color: #eeeeee;
    cursor: default;
    width: 120px; 
    height: auto;
}

div.thing.thermostat-thing{
    background-color: rgba(100,100,150,0.4) !important;
}
div.thing.music-thing {
    background-color: rgba(150,100,150,0.4) !important;
    width: 180px;
    height: auto;
}


div.thing:hover{
	position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}


/* the name of the thing  */
div.thingname {
    background-color: #303050;
    font-size: 11pt;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    height: 30px;
    cursor: move;
}

/* what to do when you hover over an item */
div.thingname:hover {
    background-color: #5050a0; 
    color: #cccccc;
}

/* style for thing name when it has been picked */
div.thingname.sensorpick {
    background-color: #333333;
}

div.thing.weather-thing, div.weather {
    text-align: center;
}

div.weather.temperature {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 50px !important;
	width: 50px;
	padding: 4px 3px 0 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

div.weather.feelsLike::before {
    content: "Like: ";
}

div.weather.feelsLike::after {
    content: " deg F";
}

div.weather.wind::before {
    content: "Wind: ";
}

div.weather.wind::after {
    content: " mph";
}

div.weather.humidity::before {
    content: "Humidity: ";
}

div.weather.percentPrecip::before {
    content: "Rain: ";
}

div.weather.humidity::after, div.weather.percentPrecip::after {
    content: "%";
}

div.weather.localSunrise::before {
    content: "Sunrise: ";
}

div.weather.localSunset::before {
    content: "Sunset: ";
}

div.weather.timeZoneOffset, div.weather.alertKeys,
div.weather.sunriseDate, div.weather.sunsetDate,
div.weather.illuminance{
    display: none;
}

div.weather.weatherIcon.clear, div.weather.forecastIcon.clear {
    background-image: url('http://cdn.device-icons.smartthings.com/Weather/weather14-icn@2x.png');
    background-position: 0% 0%;
}

/* handle larger images */
div.thing.image-thing {
    background-color: #ffffff;
    width: 242px; height: 242px;
}




/* style for thing name when it has been picked */
div.thingname.sensorpick {
    background-color: #333333;
}

div.thead {
    position: fixed;
}


/* styling for the actual item without its state */
div.switch, div.switchlevel, div.momentary, div.motion, div.lock, div.contact, div.music, div.thermostat {
    display: inline-block;
    padding: 0px 0;
    margin: 0;
    cursor: default;
    width: 118px;
    height: 112px;
}

div.switch, div.switchlevel, div.momentary, div.lock {
    cursor: pointer;
}

div.switchlevel.switch {
    height: 80px;
}
div.switchlevel.level {
    height: 32px;
}

div.music {
    width: 178px;
}

div.image {
    width: 238px;
}

div.switch, div.switchlevel, div.contact, div.lock, div.motion, div.momentary {
    padding: 0px 0;
    margin: 0;
}

/* for switches within switchlevels make room for level control */

/* what to do when you hover over an item */
/* div.switch:hover, div.lock:hover {
    background-color: #000000; 
    color: #cccccc ;
} */

/* handle the block of controls for adjusting the thermostat and levels */
div.thermostat.heat, div.thermostat.cool, div.music.level {
    display: inline-block;
    color: #ffffee;
    border: 0px solid #ffffff;
    width: 118px; height: auto;
    padding: 0px;
    cursor: default;
    text-align: center;
}

div.music.level {
    width: 99%;
}

/* style the on and off states of switches */
/* set size to show text to avoid funky resizing, but use transparent color */
div.open, div.closed, div.inactive, div.active, div.locked, div.unlocked, div.on, div.off {
  background-position: 50% 20%;
  background-repeat: no-repeat;
  font-size: 12px;
  color: rgba(255,255,255,0.05)
}

div.contact.open {
    background-image: url('opendoor.png');
    background-color: rgba(27,177,75,0.3);
    background-position-y: 9px;
}

div.contact.closed {
    background-image: url('closedoor.png');
    background-color: rgba(27,177,75,0.6);
    background-position-y: 9px;
}

div.motion.inactive {
    background-image: url('stand.png');
    background-color: rgba(0, 51, 204, 0.6);
}

div.motion.active {
    background-image: url('run.png');
    background-color: rgba(0, 51, 204, 0.3);
}

div.lock.locked {
    background-image: url('lock.png');
    background-color: rgba(204, 51, 0, 1);
}

div.lock.unlocked{
    background-image: url('unlock.png');
    background-color: rgba(204, 51, 0, 0.3);
}

div.switch.on, div.switchlevel.on{
    background-image: url('bulbon.png');
    background-color: rgba(0, 51, 204, 0.3);
	
}

div.switch.off, div.switchlevel.off{
    background-image: url('bulboff.png');
    background-color: rgba(0, 51, 204, 0.6);
}

div.momentary.off, div.momentary.on{
    background-image: url('3dbutton.png');
    background-color: rgba(204, 51, 0, 0.6);
}

div.momentary.off {
    background-color: rgba(0,51,204,0.6);
}
	
/* hover over things that are clickable */
div.on:hover, div.off:hover {
  background-color: rgba(51, 51, 51, 0.3);
  
}
div.unlocked:hover, div.locked:hover {
  background-color: rgba(51, 51, 51, 0.3);
}

/* up and down arrows */
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.heat-up, div.cool-up, div.level-up, div.switchlevel-up {
    display: inline-block;
    width: 32px; height: 32px;
    border: 0px; padding: 0px;
    cursor: pointer;
}

div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn {
    background-image: url("sprites.gif");
    background-position: -32px 0px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.heat-up, div.cool-up, div.level-up, div.switchlevel-up {
    background-image: url("sprites.gif");
    background-position: -272px -2px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.music-previous, div.music-pause, div.music-stop, div.music-play, div.music-next {
    background-image: url("Media-Player-Buttons.png");
    display: inline-block;
    background-repeat: no-repeat;
    height:38px; width: 32px;
    background-position: -160px -4px;
	margin-top: 10px;
}

div.music-pause {
    background-position: -64px -4px;
}

div.music-stop {
    background-position: -128px -4px;
}

div.music-play {
    background-position: -96px -4px;
}

div.music-next {
    background-position: -32px -4px;
}

/* individual temperature value inside a thermostat */
div.thermostat.temperature {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 50px !important;
	width: 50px;
	padding: 4px 3px 0 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

div.thermostat.thermofan, div.thermostat.thermomode {
    cursor: pointer;
    height: auto;
    padding: 0;
}

/* restore the thermostat off setting */
div.thermostat.thermomode.off {
	background-color: #333333;
	font-size: 11pt;
	height: auto;
        padding: 0;
}

div.thermostat.thermomode.heat {
    background-color: #ff3300;
}

div.thermostat.thermomode.cool {
    background-color: #3333ff;
}

div.thermostat.thermomode.auto {
    background-color: #009999;
}

div.thermostat.thermostate {
    background-color: #333333;
    cursor: default;
    height: auto;
    padding: 0;
}

/* values of the adjustable items */
div.heat-val, div.cool-val, div.level-val, div.switchlevel-val {
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    width: 52px;
    height: 26px;
    padding-top: 6px;
    color: #ffffff;
    border: 0px;
}

div.music div.level-val {
    width: 60%;
}

/* color specific values */
div.heat-val {
    background-color: #cc3300;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.cool-val {
  background-color: #0033cc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.switchlevel-val, div.level-val {
    background-color: #1bb14b;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}

/* hover over the adjustment arrows */
div.heat-up:hover, div.heat-dn:hover, 
div.cool-up:hover, div.cool-dn:hover,
div.switchlevel-up:hover, div.switchlevel-dn:hover,
div.level-up:hover, div.level-dn:hover {
    border: 2px solid #303030;
    width: 28px;
    height: 28px;
}

/* use italic serif font for music titles and a custom size */
div.music.track {
    font-family: "Raleway",serif;
    font-size: 11pt;
    font-style: italic;
    height: auto;
	padding-top: 5px;
    border-bottom: none;
}
div.music.musicstatus, div.music.musicmute {
    height: 28px;
    font-size: 11pt;
    border-top: 1px solid #ffffff;
}


.hidden {
    display: none;
}

.shown {
    display: inline;
}
