* {
    font-family: "Droid Sans", sans-serif;
    font-size: 11pt; padding: 0px; margin: 0px;
}
body {
    background-color: #ffffff;
    color: #000000;
    width: 1140px;
}
div.maintable {
/*    transform: scale(0.84);
    -ms-transform: scale(0.84);
    -moz-transform: scale(0.84);
    -o-transform: scale(0.84);
    -webkit-transform: scale(0.84);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;*/
}
h1, h2, h3 {
    color: #000000;
    font-size: 24pt;
    margin-bottom: 2px;    margin-top: 2px;    margin-left: 10px;
}

div {
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}
.ui-widget.ui-widget-content{
border-radius: 4px;
width:100%;
margin: 0px 0 0 0;
/*border-right: 5px solid #666666;
border-bottom: 5px solid #666666;*/

}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	text-decoration: none;
	padding: .5em 1em;
}
div.ui-tabs-panel, ui-widget-content {
    background: #333333;
}
ul.ui-tabs-nav {
    background-color: #666666;
    color: #000000;
    font-size: 12pt;
    border: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}
.ui-tabs {
    padding: 0;
}

.debug, .error {
  background-color: #cc3300;  color: #ffffff;  font-size: 10pt;
}

.hidden, ul.ul-tabs-nav.hidden {
    display: none;
}

.shown, ul.ul-tabs-nav.shown {
    display: inline-block;
}

div.skinoption, div.kioskoption, div.filteroption, td.optname {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 2px;
    color: #000000;
}

div.skinoption input {
    width: 600px;
}
div.filteroption {
    margin-top: 12px;
}
table.useroptions {
    margin-left: 8px;
    background-color: #f5f6de;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
td.optname {
    padding-left: 5px;
    padding-right: 30px;
}

form {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    width: 100%;
}
form.houseauth {
    text-align: left;
}

/* how the tab page shows up - this affects everything shown */
.ui-tabs .ui-tabs-panel {
    padding-top: 0px;    padding-bottom: 0px;
    padding-left: 0px;    padding-right: 4px;
    text-align: left;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

#options-tab {
    padding-top: 10px;
}

#options-tab {
    background-color: #ffffff;
    color: #000000;
}

/* this dummy element adds space to show backgrounds */
div.minheight {
    display: inline-block;
    width: 1px;
    height: 400px;
    color: rgba(0,0,0,0.01);
}

/* all panels look like this */
div.panel {
    display: inline-block;
    border: 0px solid #3333cc;
    padding: 2px;    width: 100%;    margin: auto;
    position:relative;    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

div.panel-family, div.panel-familyroom {
    background-image: url('family.jpg');

}
div.panel-kitchen, div.panel-dinette {
    background-image: url('kitchenroom.jpg');

}
div.panel-formal, div.panel-living, div.panel-livingroom {
    background-image: url('formal.jpg');

}
div.panel-outside, div.panel-garage {
    background-image: url('outside.jpg');

}
div.panel-office, div.panel-library {
    background-image: url('office.jpg');

}
div.panel-bedroom, div.panel-bedrooms {
    background-image: url('bedroom.jpg');

}
div.panel-music, div.panel-theater, div.panel-entertainment {
    background-image: url('music.jpg');

}
div.panel-thermostats, div.panel-thermostat {
    background-image: url('thermostat.jpg');

}

/* style the panel with all things listed */
div.panel-all {
    background-image: none;
}

/* formatting for endpoint mode query of access id information */
table.showid {
    background-color: white;
    color: #000000;
    width: 90%;
    text-align: left;
    
}
table.showid td, table.showid th {
    width: 200px;
    font-size: 12pt;
    padding-left: 2px; padding-right: 2px;
}

/* format the options page */
div.thead {
    position: fixed;
}
div.scrollvtable {
    overflow-y: auto;
}
@media only screen and (orientation: landscape) {
    div.scrollvtable {
        /*max-height: 400px;*/
        overflow-y: hidden;
    }
}
@media only screen and (orientation: portrait) {
    div.scrollvtable {
        /*max-height: 800px;*/
        overflow-y: hidden;
    }
}
@media only screen and (hover: hover) {
    div.scrollvtable {
        overflow-y: scroll;
        /*max-height: 600px;*/
    }
}
div.scrollhtable {
    max-height: 100%;    overflow-x: auto;    overflow-y: hidden;
    background-color: #ffffff;
}
table.roomoptions, table.headoptions {
    margin: 0px;    background-color: #ffffff;    color: #000000;
    font-size: 11pt;    width: 100%;
    border-collapse: collapse;    border: 2px solid black;
    height: 24px;
}
table.headoptions {
    height: 40px;
}
table.headoptions th.roomname, table.headoptions th.thingname, table.headoptions th.customedit, table.headoptions th.customname {
    border-bottom: 5px solid rgba(0, 0, 80, 1);    border-left: 1px solid #ffffff;
    background-color: #3a5795;    color:#ffffff;
    font-weight: bold;    padding: 2px;    width: 100px;
    text-align: center;    line-height: 1.5;    height: 30px;
}
table.headoptions td, table.roomoptions td {
    width: 100px;
    color:#000000;
    text-align: center;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
table.roomoptions td.customedit, table.headoptions th.customedit {
    text-align: center; 
    width: 5%;    
}
table.roomoptions td.customname, table.headoptions th.customname {
    text-align: center; 
    width: 10%;    
}

table.roomoptions td.thingname, table.headoptions th.thingname {
    text-align: left; 
    width: 20%;    
    border-left: 1px solid #999999;
    font-weight: bold;
    border-left: 1px solid #999999;    
    border-right: 1px solid #999999;
}

table.roomoptions tr.showrow {
    height: 24px;
    background-color: #ffffff;
}
table.roomoptions tr.showrow.odd {
    background-color: #cccccc;
}
table.roomoptions tr.hiderow {
    display: none;
}

/* only adjust for scrollbar on screens with hover */
@media only screen and (hover: hover) {
    table.roomoptions tbody {
        overflow-y: scroll;  width: 95%;
    }
    table.headoptions thead th.roomname:last-child {
        padding-right: 12px;
    }
}
span.typeopt {
    font-weight: normal;    font-family: "Raleway", serif;    font-style: italic;
    color: #666666;
}
div.processoptions {
    margin-left: 0px; margin-top: 0px;    padding-top: 10px;
    background-color: white;    box-shadow: 0px 1px 10px rgba(0,0,0,.50);
}

/* buttons */
input {
    background-repeat: no-repeat;
}
div.buttons, form.buttons {
    display: inline;
}
input.submitbutton, input.resetbutton, input.authbutton, div.restoretabs {
    background-color: #3a5795;
    width: 150px; height: 50px; margin-left: 10px; margin-right: 30px;
    cursor: pointer;    border: none;
    color: #eeeeee;    text-align: center;    font-weight: normal;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8); 
    border-right: 4px solid rgba(0, 0, 0, 0.8); 
    font-size: 14pt;
}
/* style restore tabs like a button - notice adjustments for border and vertical centering */
div.restoretabs {
    display: inline-block;
    padding-top: 12px; padding-right: 4px;
    width: 142px; height: 34px;
}
div.restoretabs.hidden {
    display: none;
}

/* don't need to display this anymore since use clock and panel click instead */
/* but the div needs to be in the php file to make the js work */
/* uncomment this to show the display link */
div.panel div.restoretabs {
    font-size: 12pt;
    color: rgba(0,0,0,0.1);
    width: auto; height: 20px; margin-top: 1px;
    border: 0px; text-align: right;
    background-color: rgba(0,0,0,0.1);
    position: absolute; right: -1px; bottom: -1px;
}
input.resetbutton {
    background-color: #333333;
}
input.authbutton {
    background-color: #993300;
    margin: 0;
    margin-left: 10px;
}
input.submitbutton:hover, input.resetbutton:hover, 
input.authbutton:hover, div.restoretabs:hover {
    font-weight: bold;    color: #ffffff;
    /* border-left: 4px solid rgba(126, 126, 126, 0.8);
    border-bottom: 0px; 
    border-right: 0px; */
}
div.sitename {
    background: #ffffff;     display: block;    position: relative;
    left: 400px;    width: 300px;    bottom: 49px;
}

/* Changes for custom editing tiles in options page */
/* scale icons for edit mode in Options page */
div.editable {
    background-size: auto 36px !important;
	height: 36px !important;
	width: 36px !important;
}
div.tiledialog {
  overflow: hidden;
}

#edittile {
	display: inline-block;
    float: left;
    width: 127px; 
    height: 196px;
}

#editicon {
	display: inline-block;
	float: right;
    width: 220px; 
    height: 200px;
	overflow-x: hidden;
}
.iconlist {
	display: inline-block;
}
.icon {
	float: left;
	margin: 2px;
	max-height: 40px;
	max-width: auto;
	-o-object-fit: contain;
	object-fit: contain;
}
.icon:hover{
	position: relative;
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}
.btn.color {
  background: #3498db;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  padding: 2px 10px 1px 10px;
  margin: 2px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 9px;
  padding: 2px 8px 1px 8px;
  text-decoration: none;
  margin: 1px;
  cursor: pointer;
}
.btn.hidden {
  visibility: hidden;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#saveCss {
	font-size: 14pt;
	-webkit-border-radius: 32;
	-moz-border-radius: 32;
	border-radius: 32px;
}
#showCssSaved {
	margin-left: 6px;
	font-size: 12pt;
	visibility: hidden;
	color: #900;
}
#custom_footer {
	position: relative;
	margin: 4px;
	left: 20%;	
}
dialog {  
    background:#999;
    border: 1px solid #666;
    font-family:sans-serif;
    padding: 0px 0px 0px 1px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
    width: 370px; 
    height: 204px;
  	top: 50%;
  	left: 35%;
}  
.selectIcon {
    font-size: 8pt;
	border: 1px solid #ccc;
    width: 121px;
    border-radius: 3px;
    overflow: hidden;
	margin: 3px;
    background: #fafafa;
}

.selectIcon select {
	font-size: 8pt;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectIcon select:focus {
    outline: none;
}
#onoff {
	display: none;
}
#custom_img_off {
	display: none;
}
#custom_img_on {
    display: inline-block;
}
/* End Changes for custom editing tiles in options page */

/* all things look like this */  
/* the heights are set to auto for larger items like weather and thermostats */
div.thing {
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border-top: 0px solid #cccccc; 
    border-right: 0px solid #cccccc;
    border-bottom: 0px solid #ffffff; 
    border-left: 0px solid #ffffff;
    background-color: rgba(0, 51, 204, 0.6);
    box-shadow: 2px 2px 7px black;
    color: #eeeeee;
    cursor: default;
    width: 120px; 
    height: 160px;
}
div.thing:hover{
    position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

div.thing.switch-thing, div.thing.switchlevel-thing, div.thing.bulb-thing {
    height: auto;
}

/* styling defaults without state or specific thing subtypes */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, div.motion, div.lock, 
div.contact, div.music, div.thermostat, div.presence, div.piston, div.valve, div.door {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0px 0;
    margin: 0;
    cursor: default;
    width: 118px;
    height: auto;
}

div.switch.on, div.switch.off, div.light.on, div.light.off,
div.presence.present, div.presence.absent,
div.valve.open, div.valve.closed, div.momentary.on, div.momentary.off {
    height: 112px;
}

div.lock.locked, div.lock.unlocked, div.motion.active, div.motion.inactive,
div.contact.open, div.contact.closed {
    height: 96px;
}

/* items that have a pointer */
div.switch, div.bulb, div.light, div.switchlevel, div.momentary, 
div.lock, div.mode.themode, div.piston, div.valve, div.routine.label {
    cursor: pointer;
}

/* the name of the thing - must be after the above heights */
div.thingname, div.thingname.motion, div.thingname.contact, 
div.thingname.lock, div.thingname.piston, div.thingname.temperature {
    background-color: #303050;
    font-size: 11pt;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    height: 30px;
    cursor: move;
}
div.thingname:hover {
    background-color: #5050a0; 
    color: #cccccc;
}

/* style the on and off states of things to not show up */
/* set size to show text to avoid funky resizing, but use transparent color */
div.open, div.closed, div.inactive, div.active, div.locked, div.unlocked, 
div.on, div.off, div.present, div.absent, div.firing, div.piston.pistonName {
  background-position: center center;  font-size: 12px;
  color: rgba(255,255,255,0.01);
}

/* alter the thermostat on and off to show since we don't use an icon here */
div.thermostat.thermomode.off, div.thermostat.thermofan.off,
div.thermostat.thermomode.on, div.thermostat.thermofan.on {
	font-size: 11pt;
        color: #ffffff;
}

/* contact styling - note we changed to generic contact */
div.contact.open {
    background-image: url('icons/opencontact.png');
    background-color: rgba(27,177,75,0.3);
    

}
div.contact.closed {
    background-image: url('icons/closecontact.png');
    background-color: rgba(27,177,75,0.6);
    
    

}

/* specific contact types one might find */
div.door.open, div.contact.door.closed {
    background-image: url('icons/opendoor.png');
    background-color: rgba(27,177,75,0.3);
    
    

}
div.door.closed, div.contact.door.closed {
    background-image: url('icons/closedoor.png');
    background-color: rgba(27,177,75,0.3);
    
    

    cursor: pointer;
}
div.garage.door.contact {
    display: none;
}
div.door.garage.open, div.door.garage.closed {
    cursor: pointer;
}
div.contact.window.open {
    background-image: url('icons/openwindow.png');
}
div.contact.window.closed {
    background-image: url('icons/closewindow.png');
}
div.door.garage.open {
    background-image: url('icons/garage-opened.png');
    background-size: 80px;
    height: 112px;
}
div.door.garage.closed {
    background-image: url('icons/garage-closed.png');
    background-size: 80px;
    height: 112px;
}
div.valve.open {
    background-image: url('icons/sprinkler-on.png');
    background-color: rgba(27,177,75,0.6);
    height: 112px;
}
div.valve.closed {
    background-image: url('icons/sprinkler-on.png');
    background-color: rgba(0, 51, 204, 0.6);
    height: 112px;
}
div.valve.switch, div.valve.contact {
    display: none;
}
/* special handling of garage entry which is a door */
div.contact.garage.entry.open {
    background-image: url('icons/opendoor.png');
    background-size: 40px;
    height: 96px;
}
div.contact.garage.entry.closed {
    background-image: url('icons/closedoor.png');
    background-size: 40px;
    height: 96px;
}


/* motion styling */
div.motion.inactive {
    background-image: url('icons/stand.png');
    background-color: rgba(0, 51, 204, 0);
}
div.motion.active {
    background-image: url('icons/run.png');
    background-color: rgba(0, 51, 204, 0);
}
div.motion.battery, div.contact.battery, 
div.lock.battery {
    /* background-color: rgba(0, 102, 102, 0.5); */
    height: 13px; font-size: 9pt; color: #ffffff;
}
div.motion.battery::before, div.contact.battery::before, div.lock.battery:before {
    content: "Battery: ";
}
div.motion.battery::after, div.contact.battery::after, div.lock.battery::after {
    content: " %";
}
/*
div.motion.temperature::before {
    content: "T: ";
}
div.motion.temperature::after {
    content: " degF";
}
*/

/* lock styling */
div.lock.locked {
    background-image: url('icons/lock.png');
    background-color: rgba(102, 51, 0, 1);
}
div.lock.unlocked{
    background-image: url('icons/unlock.png');
    background-color: rgba(102, 51, 0, 0.7);
}

/* switch styling */

div.switch.on, div.switch.light.on, div.switchlevel.on, div.bulb.on, div.light.on {
    background-image: url('icons/bulbon.png');
    background-color: rgba(0, 51, 204, 0);
}
div.switch.off, div.switch.light.off, div.switchlevel.off, div.bulb.off, div.light.off {
    background-image: url('icons/bulboff.png');
}
div.switch.plug.on {
    background-image: url('icons/plugon.png');
    background-color: rgba(204, 51, 0, 0.3);
    height: 112px;
}
div.switch.plug.off {
    background-image: url('icons/plugoff.png');
    background-color: rgba(0, 51, 204, 0);
    height: 112px;
}
/* enable this if you want to show levels for switches and bulbs */
/* this will duplicate the switchlevel functionality */
div.switch.level {
    display: none;
}
div.switch.energy, div.switchlevel.energy {
    height: 14px; font-size: 9pt; 
/*    position: relative; top: -16px; */
    background-color: rgba(51,204,0,0.7); 
    color: #ffffff;
}
div.switch.power, div.switchlevel.power {
    height: 14px; font-size: 9pt; 
/*    position: relative; top: -48px; */
    background-color: rgba(51,204,0,0.7); 
    color: #ffffff;
}
div.switch.energy::before, div.switchlevel.energy:before {
    content: "E (KwH): ";
}
div.switch.power::before, div.switchlevel.power:before {
    content: "P (W): ";
}

/* switchlevel / dimmer styling - make room for the dimmer controls */
/* if you have a dimmer with power and energy controls - see custom below */
div.switchlevel.switch, div.bulb.switch {
    height: 80px;
}
div.switchlevel.level, switchlevel.colorTemperature, switchlevel.hue, switchlevel.saturation {
    height: 32px;
}

/* momentary styling */
div.momentary.off, div.momentary.on{
    background-image: url('icons/3dbutton.png');
    background-color: rgba(204, 51, 0, 0.6);
    height: 112px;
}
div.momentary.off {
    background-color: rgba(0,51,204,0.6);
}
	
/* hover over on and off states */
div.on:hover, div.off:hover, div.unlocked:hover, div.locked:hover {
  background-color: rgba(51, 51, 51, 0.3);
}

/* handle the block of controls for adjusting the thermostat and levels */
div.thermostat.heat, div.thermostat.cool, div.music.level, div.music.vol {
    color: #ffffee;
    border: 0px solid #ffffff;
    width: 118px; height: auto;
    padding: 0px;
    cursor: default;
    text-align: center;
}
/* up and down arrows */
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn,
div.heat-up, div.cool-up, div.level-up, div.switchlevel-up,
div.colorTemperature-up, div.colorTemperature-dn,
div.hue-up, div.hue-dn,
div.saturation-up, div.saturation-dn
{
    display: inline-block;
    width: 32px; height: 32px;
    border: 0px; padding: 0px;
    cursor: pointer;
}
div.heat-dn, div.cool-dn, div.level-dn, div.switchlevel-dn, div.music div.vol-dn,
div.colorTemperature-dn, div.hue-dn, div.saturation-dn {
    background-image: url("sprites.gif");
    background-position: -32px 0px;
	background-size: auto;
/*    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

div.heat-up, div.cool-up, div.level-up, div.switchlevel-up, div.music div.vol-up,
div.colorTemperature-up, div.hue-up, div.saturation-up {
    background-image: url("sprites.gif");
    background-position: -272px -2px;
	background-size: auto;
/*    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; */
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

/* music styling */
div.music {
    width: 178px;
}
div.music.level, div.music.vol {
    width: 99%;
}
div.music-controls {
    cursor: pointer;
}
div.music-previous, div.music-pause, div.music-stop, div.music-play, div.music-next {
    background-image: url("Media-Player-Buttons.png");
    display: inline-block;
    background-repeat: no-repeat;
    height:38px; width: 32px;
    background-position: -160px -4px;
    margin-top: 10px;
}
div.music-pause {
    background-position: -64px -4px;
}
div.music-stop {
    background-position: -128px -4px;
}
div.music-play {
    background-position: -96px -4px;
}
div.music-next {
    background-position: -32px -4px;
}

/* make thermostat height auto */
div.thing.thermostat-thing{
    background-color: rgba(100,100,100,0.4) !important;
    height: auto;
}

/* individual temperature value inside a thermostat */
div.thermostat.temperature, div.temperature.room {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 50px !important;
    width: 50px;
    padding: 4px 3px 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}


div.thermostat.thermofan, div.thermostat.thermomode {
    cursor: pointer;
    height: auto;
    padding: 0;
}
div.thermostat.thermomode.off, div.thermostat.thermofan.off,
div.thermostat.thermomode.on, div.thermostat.thermofan.on,
div.thermostat.thermostate {
	background-color: #333333;
	font-size: 11pt;
	height: auto;
        margin: 0; padding: 0;
        color: #ffffff;
}
div.thermostat.thermomode.on, div.thermostat.thermofan.on {
    background-color: #3333ff;
}
div.thermostat.thermomode.heat {
    background-color: #ff3300;
}
div.thermostat.thermomode.cool {
    background-color: #3333ff;
}
div.thermostat.thermomode.auto, div.thermostat.thermofan.auto {
    background-color: #009999;
}
div.thermostat.thermostate {
    cursor: default;
}
div.thermostat.thermofan::before {
    content: "Fan: ";
}
div.thermostat.thermomode::before {
    content: "Mode: ";
}
div.thermostat.thermostate::before {
    content: "State: ";
}

/* values of the adjustable items */
div.heat-val, div.cool-val, div.level-val, div.switchlevel-val,
div.colorTemperature-val, div.hue-val, div.saturation-val, div.vol-val {
    display: inline-block;
    position: relative;
    left: 0px; top: 0px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    width: 52px;
    height: 26px;
    padding-top: 6px;
    color: #ffffff;
    border: 0px;
}
div.heat-val {
    background-color: #cc3300;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.cool-val {
    background-color: #0033cc;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.switchlevel-val, div.level-val, div.colorTemperature-val, div.vol-val {
    background-color: #1bb14b;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}
div.colorTemperature-val, div.hue-val, div.saturation-val {
    background-color: #ffff99;
    color: #000000;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);	
}

/* hover over the adjustment arrows */
div.heat-up:hover, div.heat-dn:hover, 
div.cool-up:hover, div.cool-dn:hover,
div.switchlevel-up:hover, div.switchlevel-dn:hover,
div.colorTemperature-up:hover, div.colorTemperature-dn:hover,
div.hue-up:hover, div.hue-dn:hover,
div.saturation-up:hover, div.saturation-dn:hover,
div.vol-up:hover, div.vol-dn:hover,
div.level-up:hover, div.level-dn:hover {
    border: 2px solid #303030;
    width: 28px;
    height: 28px;
}

/* music styling */
div.thing.music-thing {
    background-color: rgba(80,0,50,0.4) !important;
    width: 180px;
    height: auto;
}
/* use italic serif font for music titles and a custom size */
div.music.track {
    font-family: "Raleway",serif;
    font-size: 11pt;
    font-style: italic;
    height: auto;
	padding-top: 5px;
    border-bottom: none;
}
div.music.musicstatus, div.music.musicmute {
    height: 28px;
    font-size: 11pt;
    border-top: 1px solid #ffffff;
}
div.music div.level-val, div.music div.vol-val {
    width: 60%;
}

/* pistons */
div.piston-thing {
    cursor: pointer;
}
div.piston.webcore {
    display: none;
}
div.piston.pistonName {
    height: 112px;
    color: rgba(102,102,102,0.01);
    background-color: rgba(102, 102, 102, 1);
    background-image: url('icons/piston.png');
}
div.piston.pistonName.firing {
    background-image: url('icons/pistonfiring.png');
}
/* weather styling */
div.thing.weather-thing, div.weather {
    text-align: center;
    height: auto;
}
div.thing.weather-thing {
    background-color: rgba(50,50,50,0.4) !important;
    width: 240px;
}
div.weather.temperature, div.weather.feelsLike {
    display: inline-block;
    width: 118px;
    background-color: #006666;
    color: #ffffee;
    border: 2px solid white;
    box-shadow: 5px 4px 15px black;
    cursor: default;
    text-align: center;
    height: 60px !important;
    width: 60px;
    padding: 4px 3px 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.weather.feelsLike::before {
    content: "~";
}
div.weather img {
    margin-left: 15px;
    margin-right: 15px;
}
div.weather.wind::before {
    content: "Wind: ";
}
div.weather.wind::after {
    content: " mph";
}
div.weather.humidity::before {
    content: "Humidity: ";
}
div.weather.percentPrecip::before {
    content: "Rain: ";
}
div.weather.humidity::after, div.weather.percentPrecip::after {
    content: "%";
}
div.weather.illuminance::after {
    content: " Lux";
}
div.weather.sunriseset {
    margin-top: 10px;
}
div.weather.sunriseset, div.weather.humidity,
div.weather.wind, div.weather.percentPrecip, div.weather.alert, div.weather.illuminance {
    background-color: #333333;
    margin-bottom: 0px;
}
div.weather.timeZoneOffset, div.weather.alertKeys,
div.weather.sunriseDate, div.weather.sunsetDate {
    display: none;
}
div.weather.weatherIcon, div.weather.forecastIcon {
    display: inline-block;
}

/* blank tiles styling */
div.thing.blank-thing {
    border: 0px none;
    padding: 0;
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
    box-shadow: none;
    width: auto;
    height: auto;
    cursor: move;
}
div.blank:hover {
    background-color: rgba(255,255,255,0.01);
}
div.blank.size.b1x1, div.blank.size.b1x2, div.blank.size.b2x1, div.blank.size.b2x2 {
    width: 120px;    height: 160px;
    font-size: 0px;    padding-left: 0px;
}
/* add special sizes for the b1x2, b2x1, and b2x2 tiles  */
div.blank.size.b2x1, div.blank.size.b2x2 {
    width: 244px;
}
div.blank.size.b1x2, div.blank.size.b2x2 {
    height: 320px;
}
div.thing.blank-thing:hover {
    position: relative;
    box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.50); 
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

/* clock styling */
div.thing.clock-thing {
    height: 160px;
    width: 246px;
    cursor: move;
}
div.clock.weekday {
    margin-top: 10px;
    margin-bottom: 2px;
}
div.clock.time {
    font-size: 36pt;
    margin-top: 12px;
}
div.clock.tzone{
    display:none;
}

/* mode and routine styling */
div.thing.mode-thing {
    width: auto;
    height: 160px;
    cursor: move;
}
div.mode, div.mode1x1, div.mode1x2 {
    width: 120px;
}
div.mode2x1, div.mode2x2 {
    width: 246px;
}
div.mode1x2, div.mode2x2 {
    height: 326px;
}
div.mode.themode {
    font-size: 20pt;    margin-top: 10px;
    cursor: pointer;
}
div.mode.name {
    font-size: 12pt;    margin-top: 30px;
}
div.mode.zipcode {
    display:none;
}
div.routine.label {
    font-size: 18pt;    margin-top: 20px;
}

/* images */
div.thing.image-thing {
    border: 0px none;
    padding: 0;
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
    box-shadow: none;
    width: auto;
    height: auto;
    cursor: move;
}
div.image.url {
    width: 246px;
    height: 160px;
    font-size: 0px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    

}

/* presence styling */
div.presence.present {
    background-image: url('icons/boypresent.png');
    background-color: rgba(255, 255, 255, 0.6);
}
div.presence.absent {
    background-image: url('icons/boyabsent.png');
    background-color: rgba(255, 255, 255, 0.3);
}

/* style for modal dialog boxes - presently not used */
.modalhide, .modalshow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 40%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: #ffffee;
}
.modalshow {
    display: block;
}

div.bulb.color {
/*    position: relative;
    top: -140px;*/
    background-image: url("../media/colorwheel.png");
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    font-size: 1px;
    color: rgba(128,128,128,0.01);
}

/* do not display these items */
div.checkInterval, div.switchlevel.checkInterval, div.switchlevel.indicatorStatus, 
div.switch.checkInterval, div.motion.checkInterval, div.switch.indicatorStatus, 
div.contact.checkInterval,
div.switch.colorTemperature, div.lock.checkInterval,
div.lock.codeChanged, div.lock.lockCodes, div.lock.scanCodes,
div.lock.codeReport, div.lock.maxCodes, div.lock.maxCodeLength,
div.lock.minCodeLength, div.lock.codeLength,
div.thingname.blank, div.thingname.clock,
div.thingname.image, div.thingname.routine, 
div.thermostat.name, div.switch.name, div.contact.name, div.motion.name,
div.switchlevel.name, div.momentary.name, div.routine.name,
div.lock.name, div.light.name, div.door.name, div.bulb.name, div.mode.name,
div.valve.name, div.water.name, div.piston.name, div.thermostat.name, 
div.music.name, div.blank.name, div.image.name, div.presence.name {
    display:none;
}

/* hide dimmers but not bulbs */
div.switchlevel.colorTemperature, div.switchlevel.hue, 
div.switchlevel.saturation, div.switchlevel.color {
    display: none;
}

/* simple things for the All panel */
/* note - the code for an ALL panel is disabled */
div.panel-all div.thing {
    display: inline-block;
    font-size: 9pt;
    text-align: center;
    margin: 1px;
    vertical-align: top;
    border: 1px solid #000000; 
    background-color: #eeeeee;
    color: #000000;
    cursor: default;
    width: 60px; 
    height: 20px;
}
div.panel-all div.thing:hover{
    color: #eeeeee;
    background-color: #000000;
}
div.panel-all div.thingname {
    background-color: #303050;
    font-size: 9pt;
    text-align: center;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 20px;
    cursor: move;
}
div.panel-all div.open, div.panel-all div.closed, 
div.panel-all div.inactive, div.panel-all div.active, 
div.panel-all div.locked, div.panel-all div.unlocked, 
div.panel-all div.on, div.panel-all div.off, 
div.panel-all div.present, div.panel-all div.absent, 
div.panel-all div.firing, div.panel-all div.piston.pistonName {
    background-position: center;
    text-align: center;
    font-size: 9px;
    color: #000000;
}

/* Place all your customization edits below to make updates simple */
/* uncomment the display inline-block line and customize to create adhoc text or images */
div.custom {
    /* display: inline-block; */
    display: none;
    margin: 3px;
    text-align: center;
    vertical-align: top;
    border-top: 0px solid #cccccc; 
    border-right: 0px solid #cccccc;
    border-bottom: 0px solid #ffffff; 
    border-left: 0px solid #ffffff;
    background-color: rgba(0, 51, 204, 0.6);
    box-shadow: 2px 2px 7px black;
    color: #eeeeee;
    cursor: default;
    width: 120px; 
    height: 160px;
}

div.custom3-bedroom {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
}
div.custom3-bedroom::before {
    content: "Enjoy a Good Night Sleep";
}

/* Example custom settings from Ken's home */
/* you should remove these since they will likely do nothing */

/* images - can be customized to show any valid jpg or png on the web */
div.image.url.img1 {
    background-image: url("/smartthings/garagecam/livingroom.jpg");
}
div.image.url.img2 {
    background-image: url("/smartthings/garagecam/officecam.jpg");
}
div.image.url.img3 {
    background-image: url("/smartthings/garagecam/garagepic.jpg");
}
div.image.url.img4 {
    background-image: url("../media/myhouse.jpg");
}

/* girl sillhouette for wife's phone */
div.presence.jana.present {
    background-image: url('icons/girlpresent.png');
}
div.presence.jana.absent {
    background-image: url('icons/girlabsent.png');
}

/* motion detector in family room that also has temperature */
div.motion.family.room {
    height: 80px;
}
div.motion.family.room.battery {
    height: 13px; font-size: 9pt; color: #ffffff;
}

/* smart switch on my rock fountain */
div.switch.rock.on {
    background-image: url('icons/rockon.png');
    background-color: rgba(0, 51, 204, 0);
}
div.switch.rock.off {
    background-image: url('icons/rockoff.png');
    background-color: rgba(0, 51, 204, 0);
}
div.switch.screen.on, div.switch.screen.off {
    height: 80px;
}

div.switchlevel.screen.switch, div.switchlevel.screen.on, div.switchlevel.screen.off {
    height: 80px;
}

/* hide the power and energy for my screen switch */
div.switchlevel.screen.power, div.switchlevel.screen.energy {
    display:none;
}

/* this custom setting moves power and energy up for my yard switches */
/* note that I have to also change the size of the wrapper tile to fixed */
/* alternatively you could change the height of just a specific switch */
/* to a fixed height of 160 - if you do that you need the id */
/* and do something like #t-82 where 82 is the ID of the thing you want */
/*  div.thing.switch-thing, div.thing.switchlevel-thing {
    height: 160px;
}
*/

/*div.switch.yard.energy {
    position: relative; top: -16px;
}
div.switch.yard.power {
    position: relative; top: -48px;
}*/
div.video-thing {
    width: 369px;
    height: 240px;
}
div.thingname.video {
    display: none;
}
/* this makes a fixed music size but long names will get cut off */
div.music.track {
    height: 48px;
}
